<!DOCTYPE html>
<html lang="German">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="images/favicon.png"> <!-- Adjust the path here -->
    <link rel="icon" href="/views/assets/images/favicon2.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

    <title>Youtube converter</title>
    <link rel="stylesheet" href="css/style.css">

    <style>
body {
      font-family: Arial, sans-serif;
    }

    .dropdown {
      position: absolute;
      display: inline-block;
      margin-left: 7px;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0 8px 16px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown-item {
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      color: #333;
    }

    .dropdown-item:hover {
      background-color: #ddd;
    }

    .content1{
      height: 100%;
    width: 75%;
    background-color: white;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
    border: 2px solid lightgrey;
    padding-bottom: 40px;
    margin-bottom: 32px;
    padding: 1.1% 2% 39px 2%;
    }





@media (min-width: 920px) {
  .footer-address {
    margin: 3% 19%;
    display: inline-block;
    position: relative;
}
}
    
@media (max-width: 920px) {



.content1{
  width: 100%;
  clear: right;

  margin-right: 0;
}

}


@media (min-width: 1001px)  and (max-width: 1067px) {
    .content1{
      width: 80%;
  
    }
}

@media (min-width: 921px) and (max-width: 1000px) {


.content1{
    margin-right: 5%;
    width: 90%;
}
}


    </style>
</head>
<body>
    <nav>
      <div class="logo">
        <a href="/index">
          <img class="logo-img" src="/images/favicon2.png" height="50px" width="50px" alt=""></a>
          <p class="logo-name"><a href="/index" style="text-decoration: none; color: #800020;">Y2DPro</a></p>
       
       </div>
       <input type="checkbox" id="click">
       <label for="click" class="menu-btn">
       <i class="fas fa-bars"></i>
       </label>
       <ul>
        <li><a href="/index">Reel Downloader</a></li>
          <li><a class="" href="/">Post Downloader</a></li>

          <li><a href="/mp3">Profile Pic Viewer/Downloader</a></li>
          <li style="margin: 0px -11px 0 31px; margin-right: 76px;"><a href="#" style="padding: 0;">    <div class="dropdown">
            <span id="selectedItem">English </span> <strong>⮟</strong>
            <div class="dropdown-content" style="cursor: pointer;">
              <a class="dropdown-item" onclick="selectItem('English')" data-reload lang="Englsih">Englsih</a>

            </div>
          </div></a></li>


 
         

       </ul>
    </nav>
    <div class="content1">
        <h3 style="background: none;margin-top: 15px;">Contact Us</h3> <br>

        <p style="position: relative; background: none; margin-bottom: 10px;">Thank you for using Y2DPro.com! If you have any questions, feedback, or concerns, feel free to reach out to us. We value your input and are here to assist you.</p>
        
        <h3 style="background: none;margin-top: 15px;">Contact Information:</h3> <br>
        <h3 style="position: relative; background: none; margin-bottom: 10px;    margin-left: 11px;font-weight: 400; font-size: 16px;">Email: <a href="mailto:contact@yrdpro.com" style="background: none; text-decoration: none;"> contact@y2dpro.com</a></h3>
        <h3 style="position: relative; background: none; margin-bottom: 10px;    margin-left: 11px;font-weight: 400; font-size: 16px;">Messenger: <a href="mailto:contact@yrdpro.com" style="background: none; text-decoration: none;"> mm/Y2DPro.com</a></h3>
        <h3 style="background: none;margin-top: 15px;">Customer Support:</h3> <br>

        <p style="position: relative; background: none; margin-bottom: 10px; margin-left: 11px;">For technical support or assistance, please email us at <a href="mailto:contact@yrdpro.com"style="background: none; text-decoration: none;">support@y2dpro.com</a> or send us a message on Messenger. Our support team is ready to help you with any issues you may encounter.</p>
        <h3 style="background: none;margin-top: 15px;">Address:</h3> <br>
        <p style="position: relative; background: none; margin-bottom: 10px; margin-left: 11px;">Y2DPro.com Headquarters</p>
       <p style="position: relative; background: none; margin-bottom: 10px; margin-left: 11px;"> <a style="background: none; text-decoration: none;" href="https://maps.app.goo.gl/yquvBuqarKBSCEu97" >Khipro, Sindh, 68330</a></p>
       <p style="position: relative; background: none; margin-bottom: 10px; margin-left: 11px;"> <a style="background: none; text-decoration: none;" href="https://maps.app.goo.gl/286YUeUekE2JyTsB8" >Pakistan</a></p>
        <h3 style="background: none;margin-top: 15px;">Feedback:</h3> <br>
        <p style="position: relative; background: none; margin-bottom: 10px; margin-left: 11px;">We value your feedback! Let us know how we can improve Y2DPro.com to better meet your needs. Send your feedback to <a href="mailto:contact@yrdpro.com"style="background: none; text-decoration: none;">support@y2dpro.com</a>.</p>
        <h3 style="background: none;margin-top: 15px;">Legal and Privacy Concerns:</h3> <br>

        <p style="position: relative; background: none; margin-bottom: 10px; margin-left: 11px;">For legal or privacy-related concerns, please reach out to our legal team at <a href="mailto:contact@yrdpro.com"style="background: none; text-decoration: none;">support@y2dpro.com</a>.</p><br>
        <p style="position: relative; background: none; margin-bottom: 10px; margin-left: 11px;">Thank you for using Y2DPro.com. Your satisfaction is our top priority, and we appreciate your trust in our service.</p>  <!-- <h1 class="cont-heading">YouTube Video Downloader - YouTube to MP3, MP4,...
          </h1>


        
            <div></div>
            <hr class="cont-hr">
            <div class="inst-cont">
            


            <p class="p1"><strong>1.</strong> First open youtube app in your device and choose the video you want to download</p>
            <p class="p2"><strong>2.</strong> Then after opening the video in layout you will find a share icon click it.</p>
            <p class="p3"><strong>3.</strong> Then copy the link from there</p>
            <p class="p4"><strong>4.</strong> Then paste the link in our website and click the start button and choose any downloading format you want.</p></p>
        </div> -->
</div>





<hr class="foot-lakeer">

<footer class="footer">
  <p class="copyright">@ 2025 Y2DPro.com</p>
  <div class="footer-address">
    <p><a href="/">Y2DPro.com</a></p>
    <p><a href="/">Instagram Downloader</a></p>
    <p><a href="/index">Instagram Post Downloader</a></p>
    <p><a href="/mp3">Insta Profile Pic Downloader</a></p>
  </div>
  <div class="footer-address1">
    <p><a href="/coming-soon">Youtube Downloader</a></p>
    <p><a href="/">Instgram Downloader</a></p>
    <p><a href="/coming-soon">Tiktok Downloader</a></p>
    <p><a href="/coming-soon">Facebook Downloader</a></p>
  </div>
  <div class="footer-address2">
    <p><a href="/about">About</a></p>
    <p><a href="/faq">FAQ</a></p>
    <p><a href="/contact">Contact</a></p>
    <p><a href="/terms">Terms of Service</a></p>
    <p><a href="/privacy-policy">Privacy Policy</a></p>
  </div>
  <p class="copyright">©Copyright Y2DPro.com </p>
</footer>

<script>
  function selectItem(item) {
    document.getElementById('selectedItem').textContent = item;
  }




</script>
 </body>
</html>
