<!DOCTYPE html>
<html lang="German">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="images/favicon.png"> <!-- Adjust the path here -->
    <link rel="icon" href="/views/assets/images/favicon2.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

    <title>Youtube converter</title>
    <link rel="stylesheet" href="css/style.css">

    <style>
body {
      font-family: Arial, sans-serif;
    }

    .dropdown {
      position: absolute;
      display: inline-block;
      margin-left: 7px;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0 8px 16px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown-item {
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      color: #333;
    }

    .dropdown-item:hover {
      background-color: #ddd;
    }

    </style>
</head>
<body>
    <nav>
       <div class="logo">
          <img class="logo-img" src="/views/assets/images/favicon2.png" height="50px" width="50px" alt="">
          <p class="logo-name">Y2DPro</p>
       </div>
       <input type="checkbox" id="click">
       <label for="click" class="menu-btn">
       <i class="fas fa-bars"></i>
       </label>
       <ul>
        <li><a href="/">Youtube Converter</a></li>
          <li><a class="active" href="#">Youtube Downloader</a></li>

          <li><a href="/mp3">Youtube to MP3</a></li>
          <li style="margin: 0px -11px 0 31px; margin-right: 76px;"><a href="#" style="padding: 0;">    <div class="dropdown">
            <span id="selectedItem">English </span> <strong>⮟</strong>
            <div class="dropdown-content" style="cursor: pointer;">
              <a class="dropdown-item" onclick="selectItem('English')" data-reload lang="Englsih">Englsih</a>
              <a class="dropdown-item" onclick="selectItem('Dutch')" data-reload lang="Dutch">Dutch</a>
              <a class="dropdown-item" onclick="selectItem('German')" data-reload lang="German">German</a>
              <a class="dropdown-item" onclick="selectItem('Hindi')" data-reload lang="Hindi">हिंदी</a>
              <a class="dropdown-item" onclick="selectItem('Urdu')" data-reload lang="Urdu">اردو</a>
            </div>
          </div></a></li>


 
         

       </ul>
    </nav>
    <div class="content">

    
          <h1 class="cont-heading">YouTube Downloader - YouTube to MP3, MP4,...
          </h1>
          <div class="search-div">
              <form class="search" action="">
                  <input class="search-input" value="" id="txt-url" name="query" type="text" placeholder="Search or paste link here..." autocomplete="off">
                  <button type="button" value="Start" id="btn-submit" class="start-btn" onclick="analyze();">
                      <span class="hidden-xs">Start </span><i class="fas fa-arrow-right"></i>
                      </button>
                      
                   
              </form>
              <p class="t-and-c-p">
                You are using our service by accepting our 
                <a href="terms" class="t-and-c-link">Terms of use</a>
              </p>
              
          </div>

        
            <div></div>
            <hr class="cont-hr">

</div>
  <div class="after-cont">
    <div>
    <h2>
        <strong>
            Youtube Downloader
        </strong>
    </h2>

    <p>Welcome to Y2DPro.com, your go-to YouTube downloader! Our server is designed to provide you with a seamless and user-friendly experience. By simply pasting YouTube video URLs, you can effortlessly convert and download videos in both MP3 and MP4 formats. What sets us apart is our commitment to privacy and convenience – no registration or signup is required, ensuring unlimited usage without the need for any personal information. Enjoy the freedom to download your favorite content hassle-free on Y2DPro.com, where simplicity meets efficiency.</p>
  </div>

  <hr class="h1">
</div>
<div class="nepo">
    <div class="inst-cont">
            

        <h2 class="instruction-h2">How to Download YouTube Videos on Y2DPro.com:</h2><br>
        <p class="p1"><b style="font-weight: 440;">1.</b>Copy URL:<br>
        <li style="">Copy the YouTube video URL.</li> </p><br>
        <p class="p1"><b style="font-weight: 440;">2.</b>Visit Y2DPro.com:<br>
            <li style="">Go to Y2DPro.com.</li> </p><br>

            <p class="p1"><b style="font-weight: 440;">3.</b>Paste and Convert:<br>
                <li style="margin-bottom: 9px;">Paste the URL in the search bar and choose MP3 or MP4.</li> </p>
                <li style="">Click 'Start.'</li> </p><br>

                <p class="p1"><b style="font-weight: 440;">4.</b>Copy URL:<br>
                    <li style="">Once done, download your file.</li> </p><br>
    </div>

</div>
<hr class="hr-0">


<div class="icon-sec">
<div class="red">    
  <i class="fa fa-server"></i>

    <h3 class="icons-p">Free Service</h3>
    <p class="red-p">Free Fast And Unlimited Service</p>
    

</div>
<div class="red">    
  <i class="fa fa-file"></i>

    <h3 class="icons-p">All Formats</h3>
    <p class="red-p">Video And Music All Formats</p>
    

</div>

<!-- <div class="fla">    
  <i class="fa fa-handshake"></i>

    <h3 class="icons-p">Easy Download</h3>
    <p class="red-p">Easy To Download From Any Browser</p>
    

</div> -->

</div>

<hr class="foot-lakeer">

<footer class="footer">
  <p class="copyright">@ 2024 Y2DPro.com</p>
  <div class="footer-address">
    <p><a href="/">Y2DPro.com</a></p>
    <p><a href="/downloader">Youtube Downloader</a></p>
    <p><a href="/">Youtube Converter</a></p>
    <p><a href="/mp3">Youtube to MP3</a></p>
  </div>
  <div class="footer-address1">
    <p><a href="/">Youtube Downloader</a></p>
    <p><a href="/">Instgram Downloader</a></p>
    <p><a href="/">Tiktok Downloader</a></p>
    <p><a href="/">Facebook Downloader</a></p>
  </div>
  <div class="footer-address2">
    <p><a href="/about">About</a></p>
    <p><a href="/faq">FAQ</a></p>
    <p><a href="/contact">Contact</a></p>
    <p><a href="/terms">Terms of Service</a></p>
    <p><a href="/privacy-policy">Privacy Policy</a></p>
  </div>
  <p class="copyright">©Copyright Y2DPro.com </p>
</footer>

<script>
  function selectItem(item) {
    document.getElementById('selectedItem').textContent = item;
  }


  var h1 = document.querySelector(".cont-heading");

// get the dropdown element by its id
var dropdown = document.getElementById("selectedItem");

// add an event listener to the dropdown element
dropdown.addEventListener("click", function() {
  // get the selected language from the dropdown element
  var lang = dropdown.textContent;

  // use a switch statement to change the h1 text based on the language
  switch (lang) {
    case "Dutch":
      h1.textContent = "YouTube-video-downloader - YouTube naar MP3, MP4, ...";
      break;
    case "German":
      h1.textContent = "YouTube-Video-Downloader - YouTube zu MP3, MP4, ...";
      break;
    case "Hindi":
      h1.textContent = "यूट्यूब वीडियो डाउनलोडर - यूट्यूब से MP3, MP4, ...";
      break;
    case "Urdu":
      h1.textContent = "یوٹیوب ویڈیو ڈاؤن لوڈر - یوٹیوب سے MP3 ، MP4 ، ...";
      break;
    default:
      h1.textContent = "YouTube Video Downloader - YouTube to MP3, MP4, ...";
  }
});




</script>
 </body>
</html>
