<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="images/favicon.png"> <!-- Adjust the path here -->
    <link rel="icon" href="/views/assets/images/favicon2.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Instagram Reel Downloader || Posts | Reels | DP</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <style>
body {
      font-family: Arial, sans-serif;
    }

    .dropdown {
      position: absolute;
      display: inline-block;
      margin-left: 7px;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0 8px 16px rgba(0,0,0,0.2);
      z-index: 1;
      border: 1px solid rgba(0, 0, 0, 0.15);
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown-item {
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      color: #333;
    }

    .dropdown-item:hover {
      background-color: #ddd;
    }
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.inst-cont{
    position: relative;
    background: none;

    padding-left: 19px;
    margin: 22px 0% 0px 0%;
    
}

.inst-cont>p>strong{
  background: none;
}
.inst-cont>p{

  font-weight: 440;
    line-height: 2;
    font-size: 16px;
    
    
}
.inst-cont>h2{
  font-weight: 400;
    font-size: 25px;
}
.t-and-c-p{
    background: white;
    text-align: center;
    padding-top: 6px;
    font-size: 13px;

}
.t-and-c-link{

    background: none;
    color: #800020;
}











.nepo{
  position: relative;

}


.hr-0{
  background: rgba(0,0,0,0) radial-gradient(ellipse at center center,rgba(0,0,0,0.2) 0px,rgba(255,255,255,0) 75%) repeat scroll 0 0;
  position: relative;
  width: 75%;
  margin: 229px 12.5% 28px 12.5%;
  border-width: 0;
  border-top: 1px solid darkgrey;
}


.red{

  position: relative;
  display: inline-block;
  width: 33%;
  text-align: center;

}

.icon-sec{
  position: relative;
  width: auto;
  margin-bottom: 8%;
}


.fa{
  font-size: 4rem;
  position: relative;
  color: #800020;

}
.red>h3{

  color: #800020;
  margin-top: 20px;

}
.red-p{
  margin-top: 16px;
}
.foot-lakeer{
  background: rgba(0,0,0,0) radial-gradient(ellipse at center center,rgba(0,0,0,0.2) 0px,rgba(255,255,255,0) 75%) repeat scroll 0 0;
  position: relative;
  width: 100%;

  border-width: 0;
  border-top: 1px solid darkgrey;
}
.footer{
  margin-bottom: 0%;
}

.copyright{
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin-top: 10%;
  color: #1B1B1B;
}
.footer-address{
  margin: 3% 18.6%;
    display: inline-block;
    position: relative;
}
.footer-address>P{
  margin-bottom: 10px;
}

.footer-address>p>a{
  text-decoration: none;
  color: #1B1B1B;

}
.footer-address>p>a:hover{
  text-decoration: underline;
  color: #1B1B1B;

}
.footer-address1>p>a:hover{
  text-decoration: underline;
  color: #1B1B1B;

}
.footer-address2>p>a:hover{
  text-decoration: underline;
  color: #1B1B1B;

}



.footer-address1{
  margin: 3% 0% 0 -106px;
  position: absolute;
  display: inline-block;
}
.footer-address1>P{
  margin-bottom: 10px;
}

.footer-address1>p>a{
  text-decoration: none;
  color: #1B1B1B;

}

















.footer-address2{
  margin: 3% 0% 0 142px;
  display: inline-block;
  position: absolute;
}
.footer-address2>P{
  margin-bottom: 10px;
}

.footer-address2>p>a{
  text-decoration: none;
  color: #1B1B1B;

}
.lem{
  margin: 0px -11px 0 31px;
   margin-right: 76px;
}

input[type="checkbox"]{
  display: none;
}
@media (min-width: 100px) and (max-width: 600px) {
  .pg-link{
  background: none;
    text-decoration: none;
    font-weight: 600;
    font-size: small;
    color: black;
}
}

@media (max-width: 680px) {


    .logo {
        padding: 1px 0px 1px 0px;
    }
    nav {
        padding: 2px 37px 0 28px;
    }
    .inst-cont{
        padding-left: 5px;
    }

    .after-cont>div>p{
        width: 100%;
        margin: 0;
        font-weight: 300;
        font-size: 16px;
    }
    .right{
      float: none;
      margin-left: 17%;
      margin-right: 0;
    }


    .hr-0 {
      margin: 38px 12.5%;
  }



.inst-cont {
    margin: 9px 0% 10px 1%;
}
  
.dropdown-content {
    margin-left: 30%;
}

}


@media (min-width: 681px) and (max-width: 919px) {
  .right{
    float: none;
    margin-left: 15%;
    margin-right: 0;
  }

  .dropdown-content{
  margin-left: 55%;
}
}

@media (max-width: 920px) {


    body{
        width: 100%;

       
    }
    nav {
      padding: 0px 7px 0 0px;

    }
  nav .menu-btn i{
    border: 2px solid;
    border-radius: 21%;
    padding: 2px 5px 2px 5px;
    display: block;
  }
  .search-input{
    width: 90%;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  .hidden-arr{
    display: block;
  }
  .hidden-xs{
    display: none;
  }
  .start-btn{
    width: 62px;
  }
  .cont-hr{
    margin: 17% 0px 2% 20%;

  }

  .after-cont>div>p{
    margin: 0px 0% 100px 1%;;
    width: 98%;

  }
.lem{
  margin: 0;
  height: 39px;
  background-color: purple;
}


.poondi{

  margin-top: 6px;
    padding-left: 10px;
}
.dropdown{
  position: relative;
margin-left: 0;
    background: purple;
    width: 100%;
}

.dropdown-content{
  background: none;
  z-index: -1;
}

#selectedItem{
  background: none;
}

.dog{
  background: none;
    color: black;
    font-size: 18px;
    margin-left: 3px;
    position: absolute;
  
}
  nav ul{
    position: absolute;
    top: 80px;
    /* left: -100%; */
    background: #800020;
    height: 0px;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
    z-index: 1;
  }



  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
    transition: 0.3s ease;
    background: purple;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: red;
  }

  .content{
    width: 100%;
    clear: right;
    padding: 0 2%;
    margin-right: 0;
    transition: margin-top 0.3s ease; /* Smooth transition animation */

  }
  .left{
    float: left;
    position: relative;
    padding: 0 0%;
    margin: 0px 8%;
    width: 92%;
    margin-bottom: 20px;
    z-index: 1;
  }

.card-title1{
    padding-top: 0px;
}
.red{
  display: block;
  text-align: center;
  margin: 0 0% 7% 0%;
  /* padding: 0 -33%; */
  width: 100%;
}
.fa{
  font-size: 3rem;
}

.footer-address{
  display: block;
  margin: 7% 7%;
  position: relative;
}
.footer-address1{
  display: block;
  position: relative;
  margin: 0% 0% 32px 7%;
}
.footer-address2{
  display: block;
  margin: 0% 0px 0% 7%;
  position: relative;
}


}

@media (min-width: 602px) {
  .pg-link{
  background: none;
    text-decoration: none;
    font-weight: 600;
    font-size: larger;
    color: black;
}
}
.bun{

    background: none;
    text-align: center;

    list-style: none;
    padding: 0;
    margin-top: 17px;

}

.page{

    display: inline-block;
    margin-right: 15px;
    background: none;
}

.search-div {
    margin: 9px auto;
    max-width: 600px;
    position: relative;
}
.pg-link:hover{
   width: 200px;
    /* height: 200px; */
    background-color: #ddd;
    z-index: 1;
    padding: 0.656rem;
    position: relative;
    border-bottom-style: 1px solid cornsilk;
    border-bottom: 2px solid #e0e0e0;
    /* border-top: 2px solid purple; */
    /* border-left: 2px solid purple; */
    /* border-right: 2px solid purple; */
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.pg-link[href="/index"] {
  width: 200px;
    /* height: 200px; */
    background-color: #ddd;
    z-index: 1;
    padding: 0.656rem;
    position: relative;
    border-bottom-style: 1px solid cornsilk;
    border-bottom: 2px solid #e0e0e0;
    /* border-top: 2px solid purple; */
    /* border-left: 2px solid purple; */
    /* border-right: 2px solid purple; */
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;

}
@media (max-width: 400px) {
  .page {
    display: inline-block;
    margin-right: 17px;
    background: none;
}
}

@media (min-width: 440px) {
  .page {
    display: inline-block;
    margin-right: 25px;
    background: none;
}
}

@media (min-width: 921px) and (max-width: 1000px) {

    nav{
        padding: 0 40px 0 50px;
      }
    .content{
        margin-right: 5%;
        width: 90%;
    }
    .logo{
        position: relative;
        bottom: 24px;
        /* margin-left: 40px; */
    }

    
nav .logo-name{
    position: absolute;
}
}
@media (min-width: 681px) and (max-width: 919px) {
  .hr-0{
    margin: 56px 12.5%;
  }
}


.sahi{

    top: 11px;
}

.next-link{
  background: white;
    text-align: center;
    font-size: small;
    /* margin-top: 6px; */
    padding-top: 8px;
    color: red;
    font-weight: 600;
}

    </style>
</head>
<body>
    <nav>
       <div class="logo">
        <a href="/index">
          <img class="logo-img" src="/images/favicon2.png" height="50px" width="50px" alt=""></a>
          <p class="logo-name"><a href="/index" style="text-decoration: none; color: #800020;">SaveReelify</a></p>
       
        </div>
       <input type="checkbox" id="click">
       <label for="click" class="menu-btn">
       <i class="fas fa-bars"></i>
       </label>
       <ul>

          <li class="lem" style=""><a class="poondi" href="#" style="padding: 0;">    <div class="dropdown">
            <span id="selectedItem">English  <i style="background: none;" class="fa-solid fa-caret-down"></i></span> <strong class="dog"></strong>
            <div class="dropdown-content" style="cursor: pointer;">
              <a style="background-color: #e0e0e0" id="reloadLink" class="dropdown-item" onclick="selectItem('English')" data-reload lang="English">English</a>
              <a style="background-color: #e0e0e0" class="dropdown-item" onclick="selectItem('Chinese')" data-reload lang="Chinese">Chinese</a>
              <a style="background-color: #e0e0e0" class="dropdown-item" onclick="selectItem('Spanish')" data-reload lang="Spanish">Spanish</a>
              <a style="background-color: #e0e0e0" class="dropdown-item" onclick="selectItem('French')" data-reload lang="French">French</a>
              <a style="background-color: #e0e0e0" class="dropdown-item" onclick="selectItem('Portuguese')" data-reload lang="Portuguese">Portuguese</a>
              <a style="background-color: #e0e0e0" class="dropdown-item" onclick="selectItem('عربي')" data-reload lang="عربي">Arabic/عربي</a>
              <a style="background-color: #e0e0e0" class="dropdown-item" onclick="selectItem('Dutch')" data-reload lang="Dutch">Dutch</a>
              <a style="background-color: #e0e0e0" class="dropdown-item" onclick="selectItem('German')" data-reload lang="German">German</a>
              <a style="background-color: #e0e0e0" class="dropdown-item" onclick="selectItem('हिंदी')" data-reload lang="Hindi">Hindi/हिंदी</a>
              <a style="background-color: #e0e0e0" class="dropdown-item" style="font-size: 20px;" onclick="selectItem('اردو')" data-reload lang="Urdu">Urdu/اردو</a>
            </div>
          </div></a></li>


 
         

       </ul>
    </nav>
    <div class="content">

    
          <h1 class="cont-heading">Instagram Reel Downloder....
          </h1>
          <ul class="bun">
            <li class="page">
              <a class="pg-link act" href="/index">
                <strong class="sahi" style="background: none;position: relative; top: 11px;">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="10px" height="2rem" viewBox="0 0 122.14 122.88" style="background: none; enable-background:new 0 0 122.14 122.88;" xml:space="preserve" width="2rem">
                    <g>
                      <path d="M35.14,0H87c9.65,0,18.43,3.96,24.8,10.32c6.38,6.37,10.34,15.16,10.34,24.82v52.61c0,9.64-3.96,18.42-10.32,24.79 l-0.02,0.02c-6.38,6.37-15.16,10.32-24.79,10.32H35.14c-9.66,0-18.45-3.96-24.82-10.32l-0.24-0.27C3.86,105.95,0,97.27,0,87.74 V35.14c0-9.67,3.95-18.45,10.32-24.82S25.47,0,35.14,0L35.14,0z M91.51,31.02l0.07,0.11h21.6c-0.87-5.68-3.58-10.78-7.48-14.69 C100.9,11.64,94.28,8.66,87,8.66h-8.87L91.51,31.02L91.51,31.02z M81.52,31.13L68.07,8.66H38.57l13.61,22.47H81.52L81.52,31.13z M42.11,31.13L28.95,9.39c-4.81,1.16-9.12,3.65-12.51,7.05c-3.9,3.9-6.6,9.01-7.48,14.69H42.11L42.11,31.13z M113.48,39.79H8.66 v47.96c0,7.17,2.89,13.7,7.56,18.48l0.22,0.21c4.8,4.8,11.43,7.79,18.7,7.79H87c7.28,0,13.9-2.98,18.69-7.77l0.02-0.02 c4.79-4.79,7.77-11.41,7.77-18.69V39.79L113.48,39.79z M50.95,54.95l26.83,17.45c0.43,0.28,0.82,0.64,1.13,1.08 c1.22,1.77,0.77,4.2-1,5.42L51.19,94.67c-0.67,0.55-1.53,0.88-2.48,0.88c-2.16,0-3.91-1.75-3.91-3.91V58.15h0.02 c0-0.77,0.23-1.55,0.7-2.23C46.76,54.15,49.19,53.72,50.95,54.95L50.95,54.95L50.95,54.95z" fill="#800020">
                      </path>
                    </g>
                  </svg>  </strong>
                Reels
              </a>
            </li>
                        <li class="page"><a class="pg-link" href="/"><strong style="background: none;position: relative; top: 11px;"><?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="2rem" width="2rem" x="0px" y="0px" viewBox="0 0 122.88 122.88" style="enable-background:new 0 0 122.88 122.88; background: none;" xml:space="preserve"><style type="text/css">.st0{fill-rule:evenodd;clip-rule:evenodd;}</style><g><path class="st0" d="M61.44,0c33.93,0,61.44,27.51,61.44,61.44s-27.51,61.44-61.44,61.44S0,95.37,0,61.44S27.51,0,61.44,0L61.44,0z M83.31,65.24c3.13-2.02,3.12-4.27,0-6.06L50.98,40.6c-2.55-1.6-5.21-0.66-5.14,2.67l0.1,37.55c0.22,3.61,2.28,4.6,5.32,2.93 L83.31,65.24L83.31,65.24z M61.44,12.48c27.04,0,48.96,21.92,48.96,48.96c0,27.04-21.92,48.96-48.96,48.96S12.48,88.48,12.48,61.44 C12.48,34.4,34.4,12.48,61.44,12.48L61.44,12.48z" fill="#800020"/></g></svg></strong> Posts</a></li>
            <li class="page"><a class="pg-link" href="/mp3"><strong style="background: none;position: relative; top: 11px;"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="2rem" width="2rem" viewBox="0 0 121.699 122.879" enable-background="background: none; new 0 0 121.699 122.879" xml:space="preserve" style="
              background: none;
          "><g><path fill="#800020" d="M53.613,0c14.79,0,28.202,6.018,37.918,15.694c9.715,9.716,15.693,23.089,15.693,37.918 c0,10.817-3.225,20.926-8.732,29.343l23.207,25.292l-16.008,14.632L83.311,98.256c-8.498,5.664-18.725,8.969-29.698,8.969 c-14.79,0-28.203-6.019-37.918-15.694C5.979,81.814,0,68.44,0,53.612c0-14.79,6.018-28.202,15.695-37.918 C25.41,5.979,38.784,0,53.613,0L53.613,0z M37.534,33.9c7.813-8.622,16.834-13.305,23.597-5.639 c1.773,0.084,3.359,0.671,4.684,1.921c2.781,2.615,3.213,7.508,1.941,11.394v3.392c0.861,0.567,1.418,1.628,1.67,2.835 c0.168,0.777,0.211,1.638,0.125,2.457c-0.082,0.851-0.293,1.659-0.629,2.332c-0.482,0.956-1.219,1.627-2.215,1.774 c-0.979,1.04-1.934,2.153-2.783,3.224c-0.936,1.176-1.734,2.289-2.289,3.203c-0.432,0.704-0.295,1.166-0.137,1.691 c0.072,0.262,0.156,0.535,0.209,0.829c1.713,0.367,3.256,0.661,4.643,0.924c8.811,1.648,14.01,2.163,14.01,13.631 c0,0.588-0.473,1.061-1.061,1.061H30.697c-0.588,0-1.061-0.473-1.061-1.061c0-11.468,5.189-11.982,14.01-13.631 c1.397-0.263,2.961-0.557,4.673-0.924c0.063-0.231,0.137-0.441,0.21-0.651c0.178-0.504,0.357-1.008-0.168-1.858 c-0.557-0.914-1.355-2.026-2.289-3.203c-0.851-1.071-1.807-2.184-2.783-3.224c-0.998-0.146-1.733-0.819-2.216-1.774 c-0.336-0.662-0.546-1.481-0.63-2.331c-0.074-0.819-0.032-1.68,0.126-2.458c0.252-1.208,0.798-2.258,1.648-2.825l-1.145-0.683 c-0.304-3.392,0.588-9.283-3.55-10.396L37.534,33.9L37.534,33.9z M87.283,19.942C78.668,11.328,66.75,5.979,53.613,5.979 c-13.138,0-25.056,5.35-33.67,13.963c-8.614,8.614-13.964,20.532-13.964,33.67c0,13.138,5.35,25.056,13.964,33.67 c8.614,8.614,20.532,13.964,33.67,13.964c13.137,0,25.055-5.35,33.67-13.964c8.613-8.614,13.963-20.532,13.963-33.67 C101.246,40.474,95.896,28.556,87.283,19.942L87.283,19.942L87.283,19.942z"></path></g></svg></strong>DP</a></li>
          <li class="page"><a class="pg-link" href="/coming-soon"><strong style="background: none;position: relative; top: 11px;"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" height="2rem" width="2rem" viewBox="0 0 122.64 122.88" style="background: none;"><path fill="#800020"d="M104,31.15c2.31,5.65,5.11,11.94,6.52,17.55a51.83,51.83,0,0,1,1.54,15.24,50.9,50.9,0,0,1-3,15,49.87,49.87,0,0,1-7.24,13.23A49.12,49.12,0,0,1,91,102.49h0a54.85,54.85,0,0,1-4.74,3q-2.44,1.38-5,2.49a52,52,0,0,1-11.38,3.56,49.5,49.5,0,0,1-11.67.82L57,112.28l-2.76,10.28,1.89.15A60.44,60.44,0,0,0,71.05,122a63,63,0,0,0,14.51-4.42q2.94-1.3,5.83-2.93c1.87-1.06,3.75-2.25,5.62-3.55A59.59,59.59,0,0,0,119,82.48,61.68,61.68,0,0,0,120.7,46.1c-2-5.77-4.18-13.39-8.31-19.22-2.73-3.86-10.73-1.57-8.35,4.27ZM56,44.74a5.34,5.34,0,1,1,10.67,0V56.1H78a5.34,5.34,0,0,1,0,10.68H66.66V78.14a5.34,5.34,0,1,1-10.67,0V66.78H44.62a5.34,5.34,0,1,1,0-10.68H56V44.74ZM24.25,110.36a59.9,59.9,0,0,0,11.46,7l1.69.79,2.75-10.25L39,107.35a49.27,49.27,0,0,1-8.38-5.28,50.34,50.34,0,0,1-7.25-6.93l-.85-1-9.17,5.29,1.18,1.43a61.27,61.27,0,0,0,9.72,9.48ZM.57,69.53A59.49,59.49,0,0,0,4,82.67l.65,1.72,9.17-5.29-.44-1.24a49.32,49.32,0,0,1-2.4-9.72,48.75,48.75,0,0,1-.37-10l.07-1.29L.41,54.15.24,56A58.82,58.82,0,0,0,.57,69.53ZM8.38,31c-.92,1.55-1.75,3.11-2.51,4.7l-.81,1.7,10.25,2.75L15.89,39c.58-1.13,1.19-2.23,1.83-3.29s1.35-2.13,2.1-3.17a61.6,61.6,0,0,1,3.9-4.93A53.89,53.89,0,0,1,28,23.22l.93-.85-5.31-9.21-1.44,1.25a66.4,66.4,0,0,0-5.74,5.65,72.56,72.56,0,0,0-5.15,6.41c-1.05,1.48-2,3-2.92,4.5ZM50.44.78A54.27,54.27,0,0,0,40.27,3.52l-1.74.65,5.3,9.18,1.22-.43a44.39,44.39,0,0,1,15.71-2.43c1.21,0,2.48.11,3.79.26s2.51.33,3.74.58,2.55.56,3.8.93,2.5.8,3.79,1.3h0a5.24,5.24,0,1,0,3.79-9.77C78.15,3.2,76.59,2.67,75,2.2s-3.12-.84-4.65-1.15S67.28.5,65.76.33,62.63.05,61,0A55.87,55.87,0,0,0,50.44.78Z"/></svg></strong> Stories</a></li>

        </ul>
          <div class="search-div">

            <form class="search" id="download-form" action="javascript:void(0)">
                <input 
                    class="search-input" 
                    value="" 
                    id="txt-url" 
                    name="url" 
                    type="text" 
                    placeholder="Paste link here..." 
                    autocomplete="off"
                    required
                >
                <button type="submit" class="start-btn" id="start-btn" style="cursor: pointer;">
                    <span class="hidden-xs">Start </span><i class="fas fa-arrow-right"></i>
                </button>
            </form>
            <p class="t-and-c-p">
                You are using our service by accepting our
                <a href="terms" class="t-and-c-link">Terms of use</a>
            </p>
            <p class="next-link" style="display: none;">Dear User This URL Is A {Profile Picture/Post} URL too download {Profile Picture/Post} Click <a href="/mp3 or /" style="background: none;"> Here</a></Prodile></p>
        </div>
        
        
        <div class="loader" style="display:none;"></div>
        
        <div class="image-container" style="display:none;">
            <img class="thumbnail-image" src="" alt="Content thumbnail">
            <h2 class="thumb-p"></h2>
        </div>
        
        <div class="table-container" style="display:none;">
            <ul>
                <li><a href="#" class="video"><i class="fas fa-video icon"></i>Video</a></li>

            </ul>
            <table>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody id="format-table-body"></tbody>
            </table>
        </div>
            <hr class="cont-hr">
            <div class="inst-cont">
            

            <h2 class="instruction-h2">How to Download a Instagram Reel?</h2>
            <p class="p1"><b style="background: none;font-weight: 400;">1.</b> First open Instagram app in your device and choose the Reel you want to download.</p>
            <p class="p2"><b style="background: none;font-weight: 400;">2.</b> Then after opening the video in layout you will find a share icon click it.</p>
            <p class="p3"><b style="background: none;font-weight: 400;">3.</b> Then copy the link from there.</p>
            <p class="p4"><b style="background: none;font-weight: 400;">4.</b> Then paste the link in our website and click the start button and then download the Reel.</p></p>
        </div>
</div>
  <div class="after-cont">
    <div>
    <h2>
        <strong class="not">
            Instagram Donwloader 
        </strong>
    </h2>

    <p class="not1">
      savereelify.com is your
       go-to website for effortlessly
        downloading Instagram reels, posts,
         and profile pictures without the hassle of 
         registration. Designed for user convenience,
         savereelify.com allows unlimited downloads, making 
          it perfect for anyone looking to save their 
          favorite Instagram content. Simply enter the
           URL or username, and in just a few clicks, 
           you can access high-quality downloads directly
            to your device. Enjoy a seamless and secure experience
             with no hidden fees or sign-ups required!</p>
  </div>

  <hr class="h1">
</div>
<div class="nepo">
  <div class="left card">
    <h2 class="card-title1">Instructions</h2>
    <p class="e1">Paste the link of the Instagram Reel into our website that you want to Download.</p>
    <p class="e2">2. Click "Start" button to start the process.</p>
    <p class="e3">3. After the fetching process done click the "Download" button.</p>
  </div>

  <div class="right card">
    <h2 class="card-title">Features</h2>
    <ul>
      <li class="li1">Unlimited downloads and always free</li>
      <li class="li2">High-speed video converter</li>
      <li class="li3">No registration required</li>
      <li class="li4">Support downloading with all Instagram Media</li>
    </ul> 
  </div>

</div>
<hr class="hr-0">


<div class="icon-sec">
<div class="red">    
  <i class="fa fa-server"></i>

    <h3 id="icon-p-1" class="icons-p">Free Service</h3>
    <p id="red-p-1" class="red-p">Free Fast And Unlimited Service</p>
    

</div>
<div class="red">    
  <i class="fa fa-file"></i>

    <h3 id="icon-p-2" class="icons-p">All Formats</h3>
    <p id="red-p-2" class="red-p">MP4 And Image All Formats Supported</p>
    

</div>

<div class="red" style="margin-left: -8px;">    
  <i class="fa fa-handshake"></i>

    <h3 id="icon-p-3" class="icons-p">Easy Download</h3>
    <p id="red-p-3" class="red-p">Easy To Download From Any Browser</p>
    

</div>

</div>

<hr class="foot-lakeer">

<footer class="footer">
  <p class="copyright">@ 2025 savereelify.com</p>
  <div class="footer-address">
    <p><a href="/">savereelify.com</a></p>
    <p><a href="/">Instagram Downloader</a></p>
    <p><a href="/index">Instagram Post Downloader</a></p>
    <p><a href="/mp3">Insta Profile Pic Downloader</a></p>
  </div>
  <div class="footer-address1">
    <p><a href="/coming-soon">Youtube Downloader</a></p>
    <p><a href="/">Instgram Downloader</a></p>
    <p><a href="/coming-soon">Tiktok Downloader</a></p>
    <p><a href="/coming-soon">Facebook Downloader</a></p>
  </div>
  <div class="footer-address2">
    <p><a href="/about">About</a></p>
    <p><a href="/faq">FAQ</a></p>
    <p><a href="/contact">Contact</a></p>
    <p><a href="/terms">Terms of Service</a></p>
    <p><a href="/privacy-policy">Privacy Policy</a></p>
  </div>
  <p class="copyright">©Copyright savereelify.com </p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  function selectItem(item) {
    var h1 = document.querySelector(".cont-heading");
    var dropdownItem = document.getElementById('selectedItem');

    dropdownItem.textContent = item;
    switch (item) {
      case "Chinese":
      h1.textContent = "Instagram Reels 下载器 || 报告，个人资料...";
document.querySelector('.t-and-c-p').childNodes[0].textContent = "您通过接受我们的服务来使用我们的服务 ";
document.querySelector('.instruction-h2').textContent = "如何下载 Instagram Reels？";
document.querySelector('.p1').childNodes[1].textContent = "首先在您的设备上打开 Instagram 应用程序，并选择您想要下载的 Reels。";
document.querySelector('.p2').childNodes[1].textContent = "在打开视频布局后，您将看到一个分享图标，点击它。";
document.querySelector('.p3').childNodes[1].textContent = "然后从那里复制链接。";
document.querySelector('.p4').childNodes[1].textContent = "然后将链接粘贴到我们的网站上，点击开始按钮，然后下载 Reels。";
document.querySelector('.not').textContent = "Instagram 下载器";
document.querySelector('.not1').textContent = "savereelify.com 是您下载 Instagram Reels、帖子和个人资料照片的首选网站，无需任何麻烦的注册。 设计简洁易用，savereelify.com 使无限制下载成为可能，完美适合任何想要保存自己喜爱的 Instagram 内容的人。只需输入 URL 或用户名，点击几下，您就可以直接获得高质量下载到您的设备。享受无隐藏费用或注册的无缝安全体验！";
document.querySelector('.card-title1').textContent = "说明";
document.querySelector('.card-title').textContent = "功能";
document.querySelector('.e1').textContent = "1. 将您想要下载的 Instagram Reels 链接粘贴到我们的网站上。";
document.querySelector('.e2').textContent = '2. 点击 "开始" 按钮以启动过程。';
document.querySelector('.e3').textContent = '3. 拉取过程完成后，点击 "下载" 按钮。';

document.querySelector('.li1').textContent = "无限制下载，始终免费";
document.querySelector('.li2').textContent = '高速视频转换器';
document.querySelector('.li3').textContent = '无需注册';
document.querySelector('.li4').textContent = '支持下载所有 Instagram 媒体';
document.querySelector('#icon-p-1').textContent = '免费服务';
document.querySelector('#icon-p-2').textContent = '所有格式';
document.querySelector('#icon-p-3').textContent = '轻松下载';
document.querySelector('#red-p-1').textContent = '免费快速且无限制的服务';
document.querySelector('#red-p-2').textContent = 'MP4 和图片所有支持格式';
document.querySelector('#red-p-3').textContent = '从任何浏览器轻松下载';
break;

case "Spanish":
h1.textContent = "Instagram Reel-downloader || Informe, perfil...";
document.querySelector('.t-and-c-p').childNodes[0].textContent = "Usted usa nuestro servicio aceptando nuestro ";
document.querySelector('.instruction-h2').textContent = "¿Cómo descargar un Instagram Reel?";
document.querySelector('.p1').childNodes[1].textContent = "Primero, abra la aplicación de Instagram en su dispositivo y seleccione el Reel que desea descargar.";
document.querySelector('.p2').childNodes[1].textContent = "Después de abrir el video en el diseño, verá un ícono de compartir, haga clic en él.";
document.querySelector('.p3').childNodes[1].textContent = "Luego, copie el enlace desde allí.";
document.querySelector('.p4').childNodes[1].textContent = "Luego, pegue el enlace en nuestro sitio web, haga clic en el botón de inicio y luego descargue el Reel.";
document.querySelector('.not').textContent = "Instagram Downloader";
document.querySelector('.not1').textContent = "savereelify.com es su sitio web de referencia para descargar fácilmente Reels, publicaciones y fotos de perfil de Instagram sin complicaciones y sin necesidad de registro. Diseñado para la comodidad del usuario, savereelify.com permite descargas ilimitadas, lo que lo convierte en la opción perfecta para cualquiera que desee guardar su contenido favorito de Instagram. Simplemente ingrese la URL o el nombre de usuario, y con solo unos pocos clics, tendrá acceso directo a las descargas de alta calidad en su dispositivo. ¡Disfrute de una experiencia fluida y segura sin costos ocultos ni registros!";
document.querySelector('.card-title1').textContent = "Instrucciones";
document.querySelector('.card-title').textContent = "Características";
document.querySelector('.e1').textContent = "1. Pegue el enlace del Instagram Reel que desea descargar en nuestro sitio web.";
document.querySelector('.e2').textContent = '2. Haga clic en el botón "Iniciar" para comenzar el proceso.';
document.querySelector('.e3').textContent = '3. Después de que se complete el proceso de recuperación, haga clic en el botón "Descargar".';

document.querySelector('.li1').textContent = "Descargas ilimitadas y siempre gratis";
document.querySelector('.li2').textContent = 'Convertidor de video de alta velocidad';
document.querySelector('.li3').textContent = 'No se requiere registro';
document.querySelector('.li4').textContent = 'Admite descargas de todos los medios de Instagram';
document.querySelector('#icon-p-1').textContent = 'Servicio gratuito';
document.querySelector('#icon-p-2').textContent = 'Todos los formatos';
document.querySelector('#icon-p-3').textContent = 'Descarga fácil';
document.querySelector('#red-p-1').textContent = 'Servicio gratuito, rápido e ilimitado';
document.querySelector('#red-p-2').textContent = 'MP4 e imágenes todos los formatos compatibles';
document.querySelector('#red-p-3').textContent = 'Fácil de descargar desde cualquier navegador';


break;

case "عربي":
h1.textContent = "إنستاجرام ريل داونلودر || تقرير، ملف شخصي...";
document.querySelector('.t-and-c-p').childNodes[0].textContent = "أنت تستخدم خدمتنا بقبولك ل ";
document.querySelector('.instruction-h2').textContent = "كيف تحميل إنستاجرام ريل؟";
document.querySelector('.p1').childNodes[1].textContent = "أولاً، افتح تطبيق إنستاجرام على جهازك واختر الريل الذي ترغب في تحميله.";
document.querySelector('.p2').childNodes[1].textContent = "بعد فتح الفيديو في العرض، ستجد أيقونة المشاركة، اضغط عليها.";
document.querySelector('.p3').childNodes[1].textContent = "ثم قم بنسخ الرابط من هناك.";
document.querySelector('.p4').childNodes[1].textContent = "ثم الصق الرابط في موقعنا الإلكتروني، واضغط على زر البدء، ثم قم بتحميل الريل.";
document.querySelector('.not').textContent = "إنستاجرام داونلودر";
document.querySelector('.not1').textContent = "savereelify.com هو موقعك المفضل لتحميل ريلز، منشورات وصور الملف الشخصي من إنستاجرام بكل سهولة دون الحاجة للتسجيل. مصمم لسهولة الاستخدام، يتيح لك savereelify.com تنزيلات غير محدودة، وهو مثالي لأي شخص يرغب في حفظ محتوى إنستاجرام المفضل لديه. فقط أدخل الرابط أو اسم المستخدم، ومع بضع نقرات فقط، ستحصل على تنزيلات عالية الجودة مباشرة إلى جهازك. استمتع بتجربة آمنة وسلسة دون رسوم مخفية أو تسجيل!";
document.querySelector('.card-title1').textContent = "تعليمات";
document.querySelector('.card-title').textContent = "الميزات";
document.querySelector('.e1').textContent = "1. الصق رابط إنستاجرام ريل الذي ترغب في تحميله في موقعنا الإلكتروني.";
document.querySelector('.e2').textContent = '2. اضغط على زر "ابدأ" لبدء العملية.';
document.querySelector('.e3').textContent = '3. بعد إتمام عملية الاسترجاع، اضغط على زر "تنزيل".';

document.querySelector('.li1').textContent = "تحميل غير محدود ودائمًا مجاني";
document.querySelector('.li2').textContent = 'محول فيديو عالي السرعة';
document.querySelector('.li3').textContent = 'لا حاجة للتسجيل';
document.querySelector('.li4').textContent = 'يدعم تحميل جميع وسائط إنستاجرام';
document.querySelector('#icon-p-1').textContent = 'خدمة مجانية';
document.querySelector('#icon-p-2').textContent = 'جميع الصيغ';
document.querySelector('#icon-p-3').textContent = 'تحميل سهل';
document.querySelector('#red-p-1').textContent = 'خدمة مجانية، سريعة وغير محدودة';
document.querySelector('#red-p-2').textContent = 'MP4 والصور جميع الصيغ المدعومة';
document.querySelector('#red-p-3').textContent = 'سهل التحميل من أي متصفح';

  break;


  case "Portuguese":
  h1.textContent = "Instagram Reel-downloader || Relatório, perfil...";
document.querySelector('.t-and-c-p').childNodes[0].textContent = "Você usa nosso serviço ao aceitar nosso ";
document.querySelector('.instruction-h2').textContent = "Como baixar um Instagram Reel?";
document.querySelector('.p1').childNodes[1].textContent = "Primeiro, abra o aplicativo Instagram no seu dispositivo e selecione o Reel que deseja baixar.";
document.querySelector('.p2').childNodes[1].textContent = "Após abrir o vídeo no layout, você verá um ícone de compartilhamento, clique nele.";
document.querySelector('.p3').childNodes[1].textContent = "Em seguida, copie o link de lá.";
document.querySelector('.p4').childNodes[1].textContent = "Em seguida, cole o link em nosso site, clique no botão iniciar e depois baixe o Reel.";
document.querySelector('.not').textContent = "Instagram Downloader";
document.querySelector('.not1').textContent = "savereelify.com é o seu site de referência para baixar facilmente Reels, postagens e fotos de perfil do Instagram sem complicações de registro. Projetado para facilidade de uso, savereelify.com permite downloads ilimitados, o que o torna a escolha perfeita para qualquer pessoa que deseje salvar seu conteúdo favorito do Instagram. Basta inserir a URL ou nome de usuário, e com apenas alguns cliques, você terá acesso direto aos downloads de alta qualidade para o seu dispositivo. Aproveite uma experiência tranquila e segura, sem custos ocultos ou registros!";
document.querySelector('.card-title1').textContent = "Instruções";
document.querySelector('.card-title').textContent = "Funcionalidades";
document.querySelector('.e1').textContent = "1. Cole o link do Instagram Reel que deseja baixar em nosso site.";
document.querySelector('.e2').textContent = '2. Clique no botão "Iniciar" para começar o processo.';
document.querySelector('.e3').textContent = '3. Após o processo de recuperação ser concluído, clique no botão "Baixar".';

document.querySelector('.li1').textContent = "Downloads ilimitados e sempre gratuitos";
document.querySelector('.li2').textContent = 'Conversor de vídeo de alta velocidade';
document.querySelector('.li3').textContent = 'Nenhum registro necessário';
document.querySelector('.li4').textContent = 'Suporta download de todas as mídias do Instagram';
document.querySelector('#icon-p-1').textContent = 'Serviço gratuito';
document.querySelector('#icon-p-2').textContent = 'Todos os formatos';
document.querySelector('#icon-p-3').textContent = 'Download fácil';
document.querySelector('#red-p-1').textContent = 'Serviço gratuito, rápido e ilimitado';
document.querySelector('#red-p-2').textContent = 'MP4 e imagens todos os formatos compatíveis';
document.querySelector('#red-p-3').textContent = 'Fácil de baixar de qualquer navegador';

    break;

case "French":
h1.textContent = "Instagram Reel-downloader || Rapport, profil...";
document.querySelector('.t-and-c-p').childNodes[0].textContent = "Vous utilisez notre service en acceptant notre ";
document.querySelector('.instruction-h2').textContent = "Comment télécharger un Instagram Reel ?";
document.querySelector('.p1').childNodes[1].textContent = "Tout d'abord, ouvrez l'application Instagram sur votre appareil et sélectionnez le Reel que vous souhaitez télécharger.";
document.querySelector('.p2').childNodes[1].textContent = "Après avoir ouvert la vidéo dans la mise en page, vous verrez une icône de partage, cliquez dessus.";
document.querySelector('.p3').childNodes[1].textContent = "Ensuite, copiez le lien à partir de là.";
document.querySelector('.p4').childNodes[1].textContent = "Ensuite, collez le lien sur notre site Web, cliquez sur le bouton démarrer, puis téléchargez le Reel.";
document.querySelector('.not').textContent = "Instagram Downloader";
document.querySelector('.not1').textContent = "savereelify.com est votre site web de prédilection pour télécharger facilement des Reels, des publications et des photos de profil Instagram sans tracas d'inscription. Conçu pour la facilité d'utilisation, savereelify.com permet des téléchargements illimités, ce qui en fait le choix parfait pour toute personne souhaitant enregistrer son contenu Instagram préféré. Il vous suffit d'entrer l'URL ou le nom d'utilisateur, et en quelques clics, vous aurez un accès direct aux téléchargements de haute qualité sur votre appareil. Profitez d'une expérience fluide et sécurisée, sans frais cachés ni inscriptions !";
document.querySelector('.card-title1').textContent = "Instructions";
document.querySelector('.card-title').textContent = "Fonctionnalités";
document.querySelector('.e1').textContent = "1. Collez le lien du Instagram Reel que vous souhaitez télécharger sur notre site Web.";
document.querySelector('.e2').textContent = '2. Cliquez sur le bouton "Démarrer" pour lancer le processus.';
document.querySelector('.e3').textContent = '3. Après la fin du processus de récupération, cliquez sur le bouton "Télécharger".';

document.querySelector('.li1').textContent = "Téléchargements illimités et toujours gratuits";
document.querySelector('.li2').textContent = 'Convertisseur vidéo haute vitesse';
document.querySelector('.li3').textContent = 'Aucune inscription requise';
document.querySelector('.li4').textContent = 'Prend en charge les téléchargements de tous les médias Instagram';
document.querySelector('#icon-p-1').textContent = 'Service gratuit';
document.querySelector('#icon-p-2').textContent = 'Tous les formats';
document.querySelector('#icon-p-3').textContent = 'Téléchargement facile';
document.querySelector('#red-p-1').textContent = 'Service gratuit, rapide et illimité';
document.querySelector('#red-p-2').textContent = 'MP4 et images tous les formats compatibles';
document.querySelector('#red-p-3').textContent = 'Facile à télécharger depuis n\'importe quel navigateur';

  break;
      case "Dutch":
        h1.textContent = "Instagram Reel-downloder || Bericht, profiel...";
        document.querySelector('.t-and-c-p').childNodes[0].textContent = "U maakt gebruik van onze service door onze te accepteren ";
        document.querySelector('.instruction-h2').textContent = "Hoe download je een Instagram-reel?";
        document.querySelector('.p1').childNodes[1].textContent = "Open eerst de Instagram-app op uw apparaat en kies de Reel die u wilt downloaden.";
        document.querySelector('.p2').childNodes[1].textContent = "Nadat u de video in de lay-out hebt geopend, ziet u een deelpictogram en klikt u erop.";
        document.querySelector('.p3').childNodes[1].textContent = "Kopieer vervolgens de link vanaf daar.";
        document.querySelector('.p4').childNodes[1].textContent = "Plak vervolgens de link in onze website en klik op de startknop en download vervolgens de Reel.";
        document.querySelector('.not').textContent = "Instagram Donwloader";
        document.querySelector('.not1').textContent = "savereelify.com is jouw go-to-website voor moeiteloos downloaden van Instagram-rollen, berichten, en profielfoto's zonder gedoe registratie. Ontworpen voor gebruikersgemak, savereelify.com maakt onbeperkte downloads mogelijk het is perfect voor iedereen die zijn of haar geld wil redden favoriete Instagram-inhoud. Voer eenvoudig de URL of gebruikersnaam, en met slechts een paar klikken, u heeft rechtstreeks toegang tot downloads van hoge kwaliteit naar uw apparaat. Geniet van een naadloze en veilige ervaring zonder verborgen kosten of aanmeldingen!";
        document.querySelector('.card-title1').textContent = "Instructies";
        document.querySelector('.card-title').textContent = "Functies";
        document.querySelector('.e1').textContent = "1. Plak de link van de Instagram Reel in onze website die je wilt downloaden.";
        document.querySelector('.e2').textContent = '2. Klik op de knop "Start" om het proces te starten.';
        document.querySelector('.e3').textContent = '3. Nadat het ophaalproces is voltooid, klikt u op de knop "Downloaden".';

        document.querySelector('.li1').textContent = "Onbeperkt downloaden en altijd gratis";
        document.querySelector('.li2').textContent = 'Hogesnelheidsvideo-omzetter';
        document.querySelector('.li3').textContent = 'Geen registratie vereist';
        document.querySelector('.li4').textContent = 'Ondersteunt downloaden met alle Instagram-media';
        document.querySelector('#icon-p-1').textContent = 'Gratis dienst';
        document.querySelector('#icon-p-2').textContent = 'Alle formaten';
        document.querySelector('#icon-p-3').textContent = 'Eenvoudig downloaden';
        document.querySelector('#red-p-1').textContent = 'Gratis snelle en onbeperkte service';
        document.querySelector('#red-p-2').textContent = 'MP4 en afbeeldingen Alle ondersteunde formaten';
        document.querySelector('#red-p-3').textContent = 'Gemakkelijk te downloaden vanuit elke browser';

        break;
      case "German":
      h1.textContent = "Instagram Reel-Downloader || Bericht, Profil...";
document.querySelector('.t-and-c-p').childNodes[0].textContent = "Sie nutzen unseren Service, indem Sie unsere akzeptieren ";
document.querySelector('.instruction-h2').textContent = "Wie lädt man ein Instagram-Reel herunter?";
document.querySelector('.p1').childNodes[1].textContent = "Öffnen Sie zuerst die Instagram-App auf Ihrem Gerät und wählen Sie das Reel aus, das Sie herunterladen möchten.";
document.querySelector('.p2').childNodes[1].textContent = "Nachdem Sie das Video im Layout geöffnet haben, sehen Sie ein Teilen-Symbol und klicken darauf.";
document.querySelector('.p3').childNodes[1].textContent = "Kopieren Sie dann den Link von dort.";
document.querySelector('.p4').childNodes[1].textContent = "Fügen Sie dann den Link auf unserer Website ein und klicken Sie auf die Starttaste, um das Reel herunterzuladen.";
document.querySelector('.not').textContent = "Instagram Downloader";
document.querySelector('.not1').textContent = "savereelify.com ist Ihre Go-to-Website für das mühelose Herunterladen von Instagram-Rollen, Beiträgen und Profilfotos ohne lästige Registrierung. Entworfen für Benutzerfreundlichkeit ermöglicht savereelify.com unbegrenzte Downloads und ist perfekt für alle, die ihre Lieblings-Inhalte von Instagram sparen möchten. Geben Sie einfach die URL oder den Benutzernamen ein, und mit nur wenigen Klicks haben Sie direkten Zugang zu hochwertigen Downloads auf Ihr Gerät. Genießen Sie eine nahtlose und sichere Erfahrung ohne versteckte Kosten oder Anmeldungen!";
document.querySelector('.card-title1').textContent = "Anweisungen";
document.querySelector('.card-title').textContent = "Funktionen";
document.querySelector('.e1').textContent = "1. Fügen Sie den Link des Instagram-Reels auf unserer Website ein, den Sie herunterladen möchten.";
document.querySelector('.e2').textContent = '2. Klicken Sie auf die Schaltfläche „Start“, um den Prozess zu starten.';
document.querySelector('.e3').textContent = '3. Nachdem der Abrufvorgang abgeschlossen ist, klicken Sie auf die Schaltfläche „Herunterladen“.';

document.querySelector('.li1').textContent = "Unbegrenzte Downloads und immer kostenlos";
document.querySelector('.li2').textContent = 'Hochgeschwindigkeits-Video-Konverter';
document.querySelector('.li3').textContent = 'Keine Registrierung erforderlich';
document.querySelector('.li4').textContent = 'Unterstützt das Herunterladen aller Instagram-Medien';
document.querySelector('#icon-p-1').textContent = 'Kostenloser Service';
document.querySelector('#icon-p-2').textContent = 'Alle Formate';
document.querySelector('#icon-p-3').textContent = 'Einfacher Download';
document.querySelector('#red-p-1').textContent = 'Kostenloser schneller und unbegrenzter Service';
document.querySelector('#red-p-2').textContent = 'MP4 und Bilder Alle unterstützten Formate';
document.querySelector('#red-p-3').textContent = 'Einfaches Herunterladen aus jedem Browser';

        break;
      case "हिंदी":
      h1.textContent = "इंस्टाग्राम रील-डाउनलोडर || रिपोर्ट, प्रोफाइल...";
document.querySelector('.t-and-c-p').childNodes[0].textContent = "आप हमारी सेवा का उपयोग करते हैं हमारी स्वीकृति से ";
document.querySelector('.instruction-h2').textContent = "कैसे इंस्टाग्राम रील डाउनलोड करें?";
document.querySelector('.p1').childNodes[1].textContent = "पहले अपने डिवाइस पर इंस्टाग्राम ऐप खोलें और उस रील को चुनें जिसे आप डाउनलोड करना चाहते हैं।";
document.querySelector('.p2').childNodes[1].textContent = "वीडियो को लेआउट में खोलने के बाद, आपको एक शेयर आइकन दिखाई देगा, उस पर क्लिक करें।";
document.querySelector('.p3').childNodes[1].textContent = "फिर वहां से लिंक को कॉपी करें।";
document.querySelector('.p4').childNodes[1].textContent = "फिर उस लिंक को हमारी वेबसाइट पर पेस्ट करें और स्टार्ट बटन पर क्लिक करें, फिर रील डाउनलोड करें।";
document.querySelector('.not').textContent = "इंस्टाग्राम डाउनलोडर";
document.querySelector('.not1').textContent = "savereelify.com आपकी गंतव्य वेबसाइट है, जहां आप बिना किसी परेशानी के इंस्टाग्राम रील, पोस्ट और प्रोफाइल फ़ोटो डाउनलोड कर सकते हैं, बिना किसी पंजीकरण के। उपयोगकर्ता के अनुकूल डिज़ाइन के साथ, savereelify.com अनलिमिटेड डाउनलोड्स को सक्षम करता है और यह उन सभी के लिए आदर्श है जो अपनी पसंदीदा इंस्टाग्राम सामग्री को बचाना चाहते हैं। बस URL या उपयोगकर्ता नाम दर्ज करें, और कुछ क्लिकों में, आपको उच्च गुणवत्ता वाले डाउनलोड्स के लिए सीधा एक्सेस मिलेगा। बिना किसी छिपी हुई लागत या पंजीकरण के एक सहज और सुरक्षित अनुभव का आनंद लें!";
document.querySelector('.card-title1').textContent = "निर्देश";
document.querySelector('.card-title').textContent = "विशेषताएँ";
document.querySelector('.e1').textContent = "1. उस इंस्टाग्राम रील का लिंक हमारी वेबसाइट पर पेस्ट करें जिसे आप डाउनलोड करना चाहते हैं।";
document.querySelector('.e2').textContent = '2. प्रक्रिया शुरू करने के लिए "स्टार्ट" बटन पर क्लिक करें।';
document.querySelector('.e3').textContent = '3. जब प्रोसेस पूरा हो जाए, तो "डाउनलोड" बटन पर क्लिक करें।';

document.querySelector('.li1').textContent = "अनलिमिटेड डाउनलोड्स और हमेशा मुफ्त";
document.querySelector('.li2').textContent = 'हाई-स्पीड वीडियो कन्वर्टर';
document.querySelector('.li3').textContent = 'कोई पंजीकरण आवश्यक नहीं';
document.querySelector('.li4').textContent = 'सभी इंस्टाग्राम मीडिया डाउनलोड का समर्थन करता है';
document.querySelector('#icon-p-1').textContent = 'मुफ्त सेवा';
document.querySelector('#icon-p-2').textContent = 'सभी प्रारूप';
document.querySelector('#icon-p-3').textContent = 'आसान डाउनलोड';
document.querySelector('#red-p-1').textContent = 'मुफ्त तेज़ और अनलिमिटेड सेवा';
document.querySelector('#red-p-2').textContent = 'MP4 और चित्र सभी समर्थित प्रारूप';
document.querySelector('#red-p-3').textContent = 'किसी भी ब्राउज़र से आसान डाउनलोड';


        break;
      case "اردو":
      h1.textContent = "انسٹاگرام ریل-ڈاؤنلوڈر || رپورٹ، پروفائل...";
document.querySelector('.t-and-c-p').childNodes[0].textContent = "آپ ہماری سروس کا استعمال کرتے ہیں ہماری منظوری سے ";
document.querySelector('.instruction-h2').textContent = "انسٹاگرام ریل کو کیسے ڈاؤن لوڈ کریں؟";
document.querySelector('.p1').childNodes[1].textContent = "سب سے پہلے اپنے ڈیوائس پر انسٹاگرام ایپ کھولیں اور وہ ریل منتخب کریں جسے آپ ڈاؤن لوڈ کرنا چاہتے ہیں۔";
document.querySelector('.p2').childNodes[1].textContent = "ویڈیو کو لے آؤٹ میں کھولنے کے بعد، آپ کو شیئر آئیکن نظر آئے گا اور اس پر کلک کریں۔";
document.querySelector('.p3').childNodes[1].textContent = "پھر وہاں سے لنک کو کاپی کریں۔";
document.querySelector('.p4').childNodes[1].textContent = "پھر اس لنک کو ہماری ویب سائٹ پر پیسٹ کریں اور اس کے بعد اسٹارٹ بٹن پر کلک کریں، پھر ریل ڈاؤن لوڈ کریں۔";
document.querySelector('.not').textContent = "انسٹاگرام ڈاؤنلوڈر";
document.querySelector('.not1').textContent = "savereelify.com آپ کی پسندیدہ ویب سائٹ ہے جہاں آپ انسٹاگرام ریل، پوسٹس اور پروفائل فوٹوز کو بغیر کسی پریشانی کے ڈاؤن لوڈ کر سکتے ہیں، بغیر کسی رجسٹریشن کے۔ یوزر فرینڈلی ڈیزائن کے ساتھ، savereelify.com ان لیمیٹڈ ڈاؤن لوڈز کو ممکن بناتا ہے اور یہ ان سب کے لیے مثالی ہے جو اپنی پسندیدہ انسٹاگرام مواد کو بچانا چاہتے ہیں۔ بس یو آر ایل یا یوزر نیم درج کریں، اور چند کلکس میں آپ کو ہائی کوالٹی ڈاؤن لوڈز تک سیدھا رسائی مل جائے گا۔ بغیر کسی چھپی ہوئی قیمتوں یا سائن اپ کے ایک ہموار اور محفوظ تجربہ کا لطف اٹھائیں!";
document.querySelector('.card-title1').textContent = "ہدایات";
document.querySelector('.card-title').textContent = "خصوصیات";
document.querySelector('.e1').textContent = "1. اس انسٹاگرام ریل کا لنک ہماری ویب سائٹ پر پیسٹ کریں جسے آپ ڈاؤن لوڈ کرنا چاہتے ہیں۔";
document.querySelector('.e2').textContent = '2. پروسیس شروع کرنے کے لیے "اسٹارٹ" بٹن پر کلک کریں۔';
document.querySelector('.e3').textContent = '3. جب پروسیس مکمل ہو جائے تو "ڈاؤن لوڈ" بٹن پر کلک کریں۔';

document.querySelector('.li1').textContent = "ان لیمیٹڈ ڈاؤن لوڈز اور ہمیشہ مفت";
document.querySelector('.li2').textContent = 'ہائی اسپیڈ ویڈیو کنورٹر';
document.querySelector('.li3').textContent = 'کوئی رجسٹریشن کی ضرورت نہیں';
document.querySelector('.li4').textContent = 'تمام انسٹاگرام میڈیا ڈاؤن لوڈ کی حمایت کرتا ہے';
document.querySelector('#icon-p-1').textContent = 'مفت سروس';
document.querySelector('#icon-p-2').textContent = 'تمام فارمیٹس';
document.querySelector('#icon-p-3').textContent = 'آسان ڈاؤن لوڈ';
document.querySelector('#red-p-1').textContent = 'مفت تیز اور ان لیمیٹڈ سروس';
document.querySelector('#red-p-2').textContent = 'MP4 اور تصاویر تمام سپورٹڈ فارمیٹس';
document.querySelector('#red-p-3').textContent = 'کسی بھی براؤزر سے آسان ڈاؤن لوڈ';

        break;
      default:

      }

      var reloadLink = document.getElementById('reloadLink');

// Add an event listener for the click event
reloadLink.addEventListener('click', function(event) {
  // Prevent the default behavior of the anchor tag
  event.preventDefault();
  
  // Reload the website
  location.reload();
});
  }

  document.getElementById('click').addEventListener('click', function() {
  var contentDiv = document.querySelector('.content');
  contentDiv.style.marginTop = this.checked ? '43px' : '0';
});










document.addEventListener("DOMContentLoaded", function() {
    const links = document.querySelectorAll(".table-container ul li a");

    // Add active class to the "Video" link by default
    links[0].classList.add("active");

    links.forEach(link => {
      link.addEventListener("click", function(event) {
        event.preventDefault();

        // Remove active class from all links
        links.forEach(link => {
          link.classList.remove("active");
        });

        // Add active class to the clicked link
        this.classList.add("active");
      });
    });
});






const downloadForm = document.getElementById('download-form');
const urlInput = document.getElementById('txt-url');
const loader = document.querySelector('.loader');
const imageContainer = document.querySelector('.image-container');
const thumbnailImage = document.querySelector('.thumbnail-image');
const titleElement = document.querySelector('.thumb-p');
const tableContainer = document.querySelector('.table-container');
const tableBody = document.getElementById('format-table-body');
const nextLinkElement = document.querySelector('.next-link');

// Validate Instagram URL (reel, post, or username)
function validateInstagramUrl(url) {
    const reelPattern = /^https?:\/\/(?:www\.)?instagram\.com\/(?:reel|reels|tv)\/([A-Za-z0-9_-]+)/;
    const postPattern = /^https?:\/\/(?:www\.)?instagram\.com\/p\/([A-Za-z0-9_-]+)/;
    const profilePattern = /^https?:\/\/(?:www\.)?instagram\.com\/([^/?#&]+)(?:[/?#&]|$)/;

    if (reelPattern.test(url)) return { isValid: true, type: 'reel' };
    if (postPattern.test(url)) return { isValid: true, type: 'post' };
    if (profilePattern.test(url)) return { isValid: true, type: 'profile' };
    return { isValid: false };
}

downloadForm.addEventListener('submit', async (e) => {
    e.preventDefault();
    let url = urlInput.value.trim();

    // Normalize the URL by replacing "reels" with "reel" if necessary
    url = url.replace(/\/reels\//, '/reel/');

    const validation = validateInstagramUrl(url);

    if (!validation.isValid) {
        // Show SweetAlert for invalid URL
        Swal.fire({
            icon: 'error',
            title: 'Invalid URL',
            text: 'Please enter a valid Instagram URL.',
        });
        return;
    }

    // If the URL is already a reel URL, proceed directly to fetch data
    if (validation.type === 'reel') {
        try {
            loader.style.display = 'block';
            imageContainer.style.display = 'none';
            tableContainer.style.display = 'none';

            const response = await fetch('/api/fetch-instagram', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                },
                body: JSON.stringify({ url }),
            });

            const data = await response.json();

            if (!data.success) {
                throw new Error(data.message || 'Failed to fetch reel data');
            }

            // Update thumbnail and title
            thumbnailImage.src = data.thumbnail || 'default-thumbnail.jpg';
            titleElement.textContent = data.title;

            // Update table for reels
            tableBody.innerHTML = '';
            if (data.mediaType === 'video') {
                addTableRow('Video', data.downloadUrl);
            }

            imageContainer.style.display = 'block';
            tableContainer.style.display = 'block';
        } catch (error) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: error.message,
            });
        } finally {
            loader.style.display = 'none';
        }
        return;
    }

    // Handle post and profile URLs
    nextLinkElement.style.display = 'block';
    if (validation.type === 'post') {
        nextLinkElement.innerHTML = `
            Dear User, This URL is a <strong>Post URL</strong>. To download any Instagram post, click 
            <a href="/" style="background: none;">here</a>.
        `;
    } else if (validation.type === 'profile') {
        nextLinkElement.innerHTML = `
            Dear User, This URL is a <strong>Profile Picture URL</strong>. To download a profile picture, click 
            <a href="/mp3" style="background: none;">here</a>.
        `;
    }
});

function addTableRow(format, downloadUrl) {
    const extension = 'mp4'; // Only video format remains

    const row = document.createElement('tr');
    row.innerHTML = `
        <td>${format}</td>
        <td>
            <a href="/download?url=${encodeURIComponent(downloadUrl)}&filename=${encodeURIComponent(format)}.${extension}" 
               class="styled-button download-btn" target="_blank">
                <span class="icon"><i class="fas fa-download"></i></span>
                Download
            </a>
        </td>
    `;
    tableBody.appendChild(row);
}




</script>

 </body>
</html>