<!DOCTYPE html>
<html lang="German">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="images/favicon.png"> <!-- Adjust the path here -->
    <link rel="icon" href="/views/assets/images/favicon2.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Youtube converter</title>
    <link rel="stylesheet" href="css/style.css">

    <style>
body {
      font-family: Arial, sans-serif;
    }

    .dropdown {
      position: absolute;
      display: inline-block;
      margin-left: 7px;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0 8px 16px rgba(0,0,0,0.2);
      z-index: 1;
      border: 1px solid rgba(0, 0, 0, 0.15);
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown-item {
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      color: #333;
    }

    .dropdown-item:hover {
      background-color: #ddd;
    }
    @media (min-width: 681px) and (max-width: 919px) {
  .hr-0{
    margin: 48px 12.5% 28px 24%;
  }

  .dropdown-content {
    margin-left: 55%;
}
    }
  @media (max-width: 920px) {
  .red{
  display: block;
  text-align: center;
  margin: 0 0% 7% 0%;
  /* padding: 0 -33%; */
  width: 100%;
}
#click:checked ~ ul li a {
    margin-left: 0px;
    transition: 0.3s ease;
    background: purple;
}

.dropdown {
    background: none;
    position: relative;
    margin-top: 4px;
}

.dog{
  background: none;
    color: black;
    font-size: 18px;
    margin-left: 3px;
    position: absolute;
  
}
.dropdown-content {
    z-index: -1;
}

#selectedItem{
    background: none;
}
.lem{
  margin: 0;
  height: 39px;
  background-color: purple;
}
.poondi{
    margin-top: 2px;
padding-left: 10px;
}


nav ul{
    position: absolute;
    top: 80px;
    /* left: -100%; */
    background: #800020;
    height: 340px;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }

}


.fa{
    font-size: 3.5rem;

}


.red{
  position: relative;
  display: inline-block;
  width: 45%;
  text-align: center;

}
@media (min-width: 920px) {
.red-p {
    margin-top: 16px;
    padding: 0 3%;
}

.lem{
  margin: 0px -11px 0 31px;
   margin-right: 76px;
}

}
.icon-sec{
  position: relative;
  width: auto;
  margin: 0 13% 0 19%;
  margin-bottom: 4%;
}




.inst-cont{
    position: relative;
    background: none;

    margin: 3% 0% 3% 13%;
    padding: 4px 8%;
}

.inst-cont>p>strong{
  background: none;
}
.inst-cont>p{

    font-weight: 440;
    line-height: 2;
    font-size: 16px;
    margin-bottom: 8px;
    
    
}
.inst-cont>h2{
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 8px;
}
@media (max-width:470px) {
  .size{

    width: 100%;
}
.download{
  
  width: 100%;
}
}
@media (max-width:680px) {
    .red{
        display: block;

    width: 94%;
    margin-bottom: 45px;
    }
    .inst-cont {
        margin: 0px 0% 10px 6%;
    padding: 7px 2%;

}

}

.search-div1 {
  margin: 39px auto;
    max-width: 600px;
    position: relative;
    margin-bottom: 7rem;
    background: none;
}


.loader{
  margin: 9px 48%;
}
.size{

  margin-top: 2.2rem;
    border: none;
    padding: 11px 24px;
    border-radius: 5px;
    color: black;
    font-size: 15px;
    background: #55c2da;
}

.download {

  margin-top: 0.35rem;
    border: none;
    padding: 11px 24px;
    border-radius: 5px;
    color: black;
    font-size: 15px;
    background: #E1306C;
}

.button-group {
    display: flex;
    background: white;
    /* gap: 130px; */
    background: white;
    margin: 0 23%;

    gap: 10px;
}
.mp3{
  position: relative;
    background: white;
}
.after-cont{
  position: relative;
    background: none;
    border: 1px solid #e0e0e0;
}
.shit{
  background: none;
  margin-top: 1.5rem;
}

.kali{
  background: none;
}
.dot1{
  background: none;
}

.icon-sec{
  background: none;
  margin-top: 1rem;
}

.red{
  background: white;
}
.fa-arrow-up-from-bracket{
  background: white;
}
.icons-p{
  background: white;
}

.after-cont>div>p{
  background: none;
}
#not6, #not7, #not8, #not9{
  background: none;
}

.fa-paperclip{
  background: none;
}
.fa-gift{
  background: none;
}
.footer{
  background: none;
}

.copyright{
  background: none;
}

.footer-address{
  background: none;

}
.footer-address>p{
  background: none;

}
.footer-address>p>a{
  background: none;

}

.footer-address1{
  background: none;

}
.footer-address1>p{
  background: none;

}
.footer-address1>p>a{
  background: none;

}

.footer-address2{
  background: none;

}
.footer-address2>p{
  background: none;

}
.footer-address2>p>a{
  background: none;

}
.content{
  margin-bottom: 0;
}
/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */

    </style>
</head>
<body>
    <nav>
       <div class="logo">
        
        <img class="logo-img" src="/images/favicon2.png" height="50px" width="50px" alt=""></a>
        <p class="logo-name"><a href="/index" style="text-decoration: none; color: #800020;">Y2DPro</a></p>
     
       </div>
       <input type="checkbox" id="click">
       <label for="click" class="menu-btn">
       <i class="fas fa-bars"></i>
       </label>
       <ul>
        <li><a href="/index">Reel Downloader</a></li>
          <li><a href="/">Post Downloader</a></li>

          <li><a class="active" href="/mp3">Profile Pic Viewer/Downloader</a></li>
          <li class="lem" style=""><a class="poondi" href="#" style="padding: 0;">    <div class="dropdown">
            <span id="selectedItem">English</span> <strong class="dog"><i style="background: none;"  class="fa-solid fa-caret-down"></i></strong>
            <div class="dropdown-content" style="cursor: pointer;">
              <a style="background-color: #e0e0e0" id="reloadLink" class="dropdown-item" onclick="selectItem('English')" data-reload lang="English">English</a>
              <a style="background-color: #e0e0e0" class="dropdown-item" onclick="selectItem('Chinese')" data-reload lang="Chinese">Chinese</a>
              <a style="background-color: #e0e0e0" class="dropdown-item" onclick="selectItem('Spanish')" data-reload lang="Spanish">Spanish</a>
              <a style="background-color: #e0e0e0" class="dropdown-item" onclick="selectItem('French')" data-reload lang="French">French</a>
              <a style="background-color: #e0e0e0" class="dropdown-item" onclick="selectItem('Portuguese')" data-reload lang="Portuguese">Portuguese</a>
              <a style="background-color: #e0e0e0" class="dropdown-item" onclick="selectItem('عربي')" data-reload lang="عربي">Arabic/عربي</a>
              <a style="background-color: #e0e0e0" class="dropdown-item" onclick="selectItem('Dutch')" data-reload lang="Dutch">Dutch</a>
              <a style="background-color: #e0e0e0" class="dropdown-item" onclick="selectItem('German')" data-reload lang="German">German</a>
              <a style="background-color: #e0e0e0" class="dropdown-item" onclick="selectItem('हिंदी')" data-reload lang="Hindi">Hindi/हिंदी</a>
              <a style="background-color: #e0e0e0" class="dropdown-item" style="font-size: 20px;" onclick="selectItem('اردو')" data-reload lang="Urdu">Urdu/اردو</a>
            </div>
          </div></a></li>


 
         

       </ul>
    </nav>
    <div class="content">

    
          <h1 class="cont-heading">Instagram Profile Pic Downloader
          </h1>
          <div class="search-div1">
            <form class="search" id="profile" action="javascript:void(0)">
                <input 
                    class="search-input" 
                    id="txt-url" 
                    name="url" 
                    type="text" 
                    placeholder="Enter Instagram username..." 
                    autocomplete="off"
                    required
                >
                <button type="button" class="start-btn" id="start-btn">
                    <span class="hidden-xs">Start </span><i class="fas fa-arrow-right"></i>
                </button>
            </form>
            <p class="t-and-c-p">
                You are using our service by accepting our
                <a href="terms" class="t-and-c-link">Terms of use</a>
            </p>
            <div class="loader" id="loader" style="display:none;"></div>
            <div class="button-group" style="display: none;" id="action-buttons">
                <button class="size" id="sizebtn"> 
                    View Pic         <i class="fa-solid fa-eye" style="background:none; color: #800020;"></i>
                </button>
                <button class="download" id="downloadBtn">
                    Download <i class="fas fa-download"></i>
                </button>
            </div>
        </div>
  <div class="after-cont">
    <div class="shit">
    <h2 class="kali">
        <strong class="dot1">
            Instagram Downloader.
        </strong>
    </h2>

    <p class="not1">Welcome to Y2DPro.com – your one-stop 
      solution for 
      downloading Instagram media effortlessly and in 
      high quality. Whether it’s HD reels, profile pictures,
       videos, or posts, Y2DPro allows you to save your
        favorite content without any registration or limits. 
        With a user-friendly
       interface and lightning-fast performance, you can 
       download your desired media in just a few clicks. No
        ads, no distractions—just pure convenience for 
        unlimited downloads. Stay ahead and enjoy the best
         Instagram content offline, anytime, anywhere!</p>
  </div>

  <hr class="h1">
</div>




<div class="icon-sec">
<div class="red">    

  <i class="fa-solid fa-arrow-up-from-bracket" style="font-size: 3.5rem;position: relative;color: #800020;"></i>


    <h3 id="not2" class="icons-p">Free & Limitless Service</h3>
    <p id="not6" class="red-p" >Free Fast And Unlimited Service.</p>    

</div>
<div class="red">    
    <i class="fa-solid fa-gift" style="font-size: 3.5rem;position: relative;color: #800020;"></i>

    <h3 id="not3" class="icons-p">No Account Registration</h3>
    <p id="not7" class="red-p"style="padding: 0px 12%;">No Account Registration Required Free To Use.</p>
    

</div>


</div>
<div class="icon-sec">
    <div class="red">    
        <i class="fa-solid fa-film" style="font-size: 3.5rem;position: relative;background: none;color: #800020;"></i>

        <h3 id="not4" class="icons-p">All Formats Available</h3>
        <p id="not8" class="red-p" style="padding: 0 14%;">All Types Of Media Available Reel, Post, Video ...</p>
        
    
    </div>
    <div class="red">    
      <!-- <i class="fa fa-file"></i> -->
      <i class="fa-solid fa-paperclip" style="font-size: 3.5rem; position: relative; color: #800020;"></i>
    

        <h3 id="not5" class="icons-p">Easy To Use</h3>
        <p id="not9" class="red-p">Just Copy Instagram Profile Link And Paste The Link In Our Website.</p>
        
    
    </div>
    

    
    </div>

    <hr class="hr-0">

    <div class="inst-cont">
            

        <h2 class="instruction-h2">How to View/Download a Instagram Profile Picture?</h2>
        <p class="p1"><b style="background: none;font-weight: 400;">1.</b> First open instagram app in your device and choose the Profile you want to View/download.</p>
        <p class="p2"><b style="background: none;font-weight: 400;">2.</b> After that Paste the instagram profile Link/Username into our website</p>
        <p class="p3"><b style="background: none;font-weight: 400;">3.</b> Then click the start button.</p>
        <p class="p4"><b style="background: none;font-weight: 400;">4.</b>After Few Time You Will see 2 Buttons View & Download Choose What ever you want.</p></p>
    </div>

<hr class="foot-lakeer">

<footer class="footer">
    <p class="copyright">@ 2025 Y2DPro.com</p>
    <div class="footer-address">
      <p><a href="/">Y2DPro.com</a></p>
      <p><a href="/">Instagram Downloader</a></p>
      <p><a href="/index">Instagram Post Downloader</a></p>
      <p><a href="/mp3">Insta Profile Pic Downloader</a></p>
    </div>
    <div class="footer-address1">
      <p><a href="/coming-soon">Youtube Downloader</a></p>
      <p><a href="/">Instgram Downloader</a></p>
      <p><a href="/coming-soon">Tiktok Downloader</a></p>
      <p><a href="/coming-soon">Facebook Downloader</a></p>
    </div>
    <div class="footer-address2">
      <p><a href="/about">About</a></p>
      <p><a href="/faq">FAQ</a></p>
      <p><a href="/contact">Contact</a></p>
      <p><a href="/terms">Terms of Service</a></p>
      <p><a href="/privacy-policy">Privacy Policy</a></p>
    </div>
    <p class="copyright">©Copyright Y2DPro.com </p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    function selectItem(item) {
      var h1 = document.querySelector(".cont-heading");
      var dropdownItem = document.getElementById('selectedItem');
  
      dropdownItem.textContent = item;
  
      switch (item) {
        case "Chinese":
    h1.textContent = "Instagram 头像下载器";
    document.querySelector('.t-and-c-p').childNodes[0].textContent = "通过接受我们的服务条款，您正在使用我们的服务 ";
    document.querySelector('.dot1').textContent = "Instagram 下载器";

    document.querySelector('.not1').textContent = "欢迎来到 Y2DPro.com – 您的一站式解决方案，可轻松下载高质量的 Instagram 媒体。无论是高清图像、头像、视频还是帖子，使用 Y2DPro，您可以在无需注册或限制的情况下保存您喜欢的内容。通过用户友好的界面和超快速性能，您只需点击几下即可下载所需的媒体。没有广告，没有干扰，只是纯粹的便利和无限下载。保持领先，随时随地离线享受最佳的 Instagram 内容！";
    document.querySelector('#not2').textContent = "免费且无限制的服务";
    document.querySelector('#not3').textContent = "无需注册账户";
    document.querySelector('#not4').textContent = "支持所有格式";

    document.querySelector('#not5').textContent = "易于使用";
    document.querySelector('#not6').textContent = "免费、快速和无限的服务";
    document.querySelector('#not7').textContent = "无需注册账户即可免费使用。";
    document.querySelector('#not8').textContent = "支持所有类型的媒体 Reel、Post、Video ...";
    document.querySelector('#not9').textContent = "只需复制 Instagram 个人资料链接并将其粘贴到我们的网站。";
    document.querySelector('.instruction-h2').textContent = "如何查看/下载 Instagram 头像？";
    document.querySelector('.p1').childNodes[1].textContent = "首先，打开您设备上的 Instagram 应用程序并选择您想要查看/下载的个人资料。";
    document.querySelector('.p2').childNodes[1].textContent = "然后，将 Instagram 个人资料的链接/用户名粘贴到我们的网站中";
    document.querySelector('.p3').childNodes[1].textContent = "接下来，点击开始按钮。";
    document.querySelector('.p4').childNodes[1].textContent = "稍后，您将看到“查看”和“下载”两个按钮，选择您想要的。";

    break;
    case "Spanish":
    h1.textContent = "Descargador de fotos de perfil de Instagram";
    document.querySelector('.t-and-c-p').childNodes[0].textContent = "Estás utilizando nuestro servicio al aceptar nuestros ";
    document.querySelector('.dot1').textContent = "Descargador de Instagram";

    document.querySelector('.not1').textContent = "Bienvenido a Y2DPro.com: tu solución integral para descargar fácilmente medios de Instagram en alta calidad. Ya sea que se trate de imágenes HD, fotos de perfil, videos o publicaciones, con Y2DPro puedes guardar tu contenido favorito sin necesidad de registro ni límites. Con una interfaz fácil de usar y un rendimiento ultrarrápido, puedes descargar los medios deseados con solo unos pocos clics. Sin anuncios, sin distracciones, solo comodidad pura y descargas ilimitadas. ¡Mantente a la vanguardia y disfruta del mejor contenido de Instagram sin conexión, en cualquier momento y lugar!";
    document.querySelector('#not2').textContent = "Servicio gratuito e ilimitado";
    document.querySelector('#not3').textContent = "No se requiere registro de cuenta";
    document.querySelector('#not4').textContent = "Todos los formatos disponibles";

    document.querySelector('#not5').textContent = "Fácil de usar";
    document.querySelector('#not6').textContent = "Servicio gratuito, rápido e ilimitado";
    document.querySelector('#not7').textContent = "No se requiere registro de cuenta, totalmente gratuito.";
    document.querySelector('#not8').textContent = "Todos los tipos de medios disponibles: Reel, Publicación, Video ...";
    document.querySelector('#not9').textContent = "Simplemente copia el enlace del perfil de Instagram y pégalo en nuestro sitio web.";
    document.querySelector('.instruction-h2').textContent = "¿Cómo ver/descargar una foto de perfil de Instagram?";
    document.querySelector('.p1').childNodes[1].textContent = "Primero, abre la aplicación de Instagram en tu dispositivo y selecciona el perfil que deseas ver/descargar.";
    document.querySelector('.p2').childNodes[1].textContent = "Luego, pega el enlace/nombre de usuario del perfil de Instagram en nuestro sitio web.";
    document.querySelector('.p3').childNodes[1].textContent = "A continuación, haz clic en el botón de inicio.";
    document.querySelector('.p4').childNodes[1].textContent = "Después de un momento, verás dos botones: Ver y Descargar. Elige lo que prefieras.";

    break;
    case "French":
    h1.textContent = "Téléchargeur de photo de profil Instagram";
    document.querySelector('.t-and-c-p').childNodes[0].textContent = "Vous utilisez notre service en acceptant nos ";
    document.querySelector('.dot1').textContent = "Téléchargeur Instagram";

    document.querySelector('.not1').textContent = "Bienvenue sur Y2DPro.com, votre solution tout-en-un pour télécharger facilement du contenu Instagram en haute qualité. Qu'il s'agisse d'images HD, de photos de profil, de vidéos ou de publications, avec Y2DPro, vous pouvez enregistrer votre contenu préféré sans inscription ni limite. Avec une interface conviviale et des performances ultra-rapides, téléchargez les médias souhaités en quelques clics. Pas de publicités, pas de distractions, juste un confort pur et des téléchargements illimités. Restez à jour et profitez du meilleur contenu Instagram hors ligne, à tout moment et en tout lieu !";
    document.querySelector('#not2').textContent = "Service gratuit et illimité";
    document.querySelector('#not3').textContent = "Pas d'inscription requise";
    document.querySelector('#not4').textContent = "Tous les formats disponibles";

    document.querySelector('#not5').textContent = "Facile à utiliser";
    document.querySelector('#not6').textContent = "Service rapide, gratuit et illimité";
    document.querySelector('#not7').textContent = "Aucune inscription de compte requise, totalement gratuit.";
    document.querySelector('#not8').textContent = "Tous les types de médias disponibles : Reel, Publication, Vidéo...";
    document.querySelector('#not9').textContent = "Copiez simplement le lien du profil Instagram et collez-le sur notre site web.";
    document.querySelector('.instruction-h2').textContent = "Comment voir/télécharger une photo de profil Instagram ?";
    document.querySelector('.p1').childNodes[1].textContent = "Tout d'abord, ouvrez l'application Instagram sur votre appareil et sélectionnez le profil que vous souhaitez voir/télécharger.";
    document.querySelector('.p2').childNodes[1].textContent = "Ensuite, collez le lien/nom d'utilisateur du profil Instagram sur notre site.";
    document.querySelector('.p3').childNodes[1].textContent = "Ensuite, cliquez sur le bouton de démarrage.";
    document.querySelector('.p4').childNodes[1].textContent = "Après un moment, vous verrez deux boutons : Voir et Télécharger. Choisissez ce que vous préférez.";

    break;
    case "Portuguese":
    h1.textContent = "Baixador de foto de perfil do Instagram";
    document.querySelector('.t-and-c-p').childNodes[0].textContent = "Você está usando nosso serviço ao aceitar nossos ";
    document.querySelector('.dot1').textContent = "Baixador do Instagram";

    document.querySelector('.not1').textContent = "Bem-vindo ao Y2DPro.com, sua solução completa para baixar conteúdo do Instagram em alta qualidade. Seja imagens HD, fotos de perfil, vídeos ou postagens, com Y2DPro você pode salvar seu conteúdo favorito sem registro ou limites. Com uma interface amigável e desempenho ultrarrápido, baixe a mídia desejada com apenas alguns cliques. Sem anúncios, sem distrações, apenas conveniência pura e downloads ilimitados. Mantenha-se à frente e aproveite o melhor conteúdo do Instagram offline, a qualquer hora e em qualquer lugar!";
    document.querySelector('#not2').textContent = "Serviço gratuito e ilimitado";
    document.querySelector('#not3').textContent = "Não requer registro de conta";
    document.querySelector('#not4').textContent = "Todos os formatos disponíveis";

    document.querySelector('#not5').textContent = "Fácil de usar";
    document.querySelector('#not6').textContent = "Serviço rápido, gratuito e ilimitado";
    document.querySelector('#not7').textContent = "Não é necessário registro de conta, totalmente gratuito.";
    document.querySelector('#not8').textContent = "Todos os tipos de mídia disponíveis: Reels, Postagens, Vídeos...";
    document.querySelector('#not9').textContent = "Basta copiar o link do perfil do Instagram e colá-lo em nosso site.";
    document.querySelector('.instruction-h2').textContent = "Como visualizar/baixar uma foto de perfil do Instagram?";
    document.querySelector('.p1').childNodes[1].textContent = "Primeiro, abra o aplicativo do Instagram no seu dispositivo e selecione o perfil que deseja visualizar/baixar.";
    document.querySelector('.p2').childNodes[1].textContent = "Depois, cole o link/nome de usuário do perfil do Instagram em nosso site.";
    document.querySelector('.p3').childNodes[1].textContent = "Em seguida, clique no botão iniciar.";
    document.querySelector('.p4').childNodes[1].textContent = "Após alguns momentos, você verá dois botões: Visualizar e Baixar. Escolha o que preferir.";

    break;

        case "Dutch":
          h1.textContent = "Instagram profielfoto-downloader";
          document.querySelector('.t-and-c-p').childNodes[0].textContent = "U maakt gebruik van onze service door onze te accepteren ";
          document.querySelector('.dot1').textContent = "Instagram Downloader";

          document.querySelector('.not1').textContent = "Welkom bij Y2DPro.com – uw one-stop oplossing voor moeiteloos en in Instagram-media downloaden hoge kwaliteit. Of het nu gaat om HD-beelden, profielfoto's,video's of berichten, met Y2DPro kunt u uw favoriete inhoud zonder enige registratie of limieten. Met een gebruiksvriendelijk interface en razendsnelle prestaties, dat kan download de gewenste media met slechts een paar klikken. Nee advertenties, geen afleiding, gewoon puur gemak onbeperkt downloaden. Blijf voorop en geniet van het beste Instagram-inhoud offline, altijd en overal!";
          document.querySelector('#not2').textContent = "Gratis en onbeperkte service";
          document.querySelector('#not3').textContent = "Geen accountregistratie";
          document.querySelector('#not4').textContent = "Alle formaten beschikbaar";

          document.querySelector('#not5').textContent = "Eenvoudig te gebruiken";
          document.querySelector('#not6').textContent = "Gratis snelle en onbeperkte service";
          document.querySelector('#not7').textContent = "Geen accountregistratie vereist Gratis te gebruiken.";
          document.querySelector('#not8').textContent = "Alle soorten media beschikbaar Reel, Post, Video ...";
          document.querySelector('#not9').textContent = "Kopieer gewoon de Instagram-profiellink en plak de link in onze website.";
          document.querySelector('.instruction-h2').textContent = "Hoe kan ik een Instagram-profielfoto bekijken/downloaden?";
          document.querySelector('.p1').childNodes[1].textContent = "Open eerst de Instagram-app op je apparaat en kies het profiel dat je wilt bekijken/downloaden.";
        document.querySelector('.p2').childNodes[1].textContent = "Plak daarna de link/gebruikersnaam van het Instagram-profiel in onze website";
        document.querySelector('.p3').childNodes[1].textContent = "Klik vervolgens op de startknop.";
        document.querySelector('.p4').childNodes[1].textContent = "Na een tijdje zie je 2 knoppen Bekijken en downloaden Kies wat je maar wilt.";
       
          break;
          case "German":
    h1.textContent = "Instagram Profilbild-Downloader";
    document.querySelector('.t-and-c-p').childNodes[0].textContent = "Sie nutzen unseren Service, indem Sie unsere akzeptieren ";
    document.querySelector('.dot1').textContent = "Instagram Downloader";

    document.querySelector('.not1').textContent = "Willkommen bei Y2DPro.com, Ihrer All-in-One-Lösung für das einfache Herunterladen von Instagram-Inhalten in hoher Qualität. Egal ob HD-Bilder, Profilbilder, Videos oder Beiträge, mit Y2DPro können Sie Ihre Lieblingsinhalte ohne Registrierung und ohne Einschränkungen speichern. Mit einer benutzerfreundlichen Oberfläche und ultraschneller Leistung können Sie die gewünschten Medien mit nur wenigen Klicks herunterladen. Keine Werbung, keine Ablenkungen, nur reiner Komfort und unbegrenztes Herunterladen. Bleiben Sie vorne und genießen Sie die besten Instagram-Inhalte offline, jederzeit und überall!";
    document.querySelector('#not2').textContent = "Kostenloser und unbegrenzter Service";
    document.querySelector('#not3').textContent = "Keine Kontoanmeldung erforderlich";
    document.querySelector('#not4').textContent = "Alle Formate verfügbar";

    document.querySelector('#not5').textContent = "Einfach zu verwenden";
    document.querySelector('#not6').textContent = "Schneller, kostenloser und unbegrenzter Service";
    document.querySelector('#not7').textContent = "Keine Kontoanmeldung erforderlich, völlig kostenlos.";
    document.querySelector('#not8').textContent = "Alle Arten von Medien verfügbar: Reel, Beitrag, Video ...";
    document.querySelector('#not9').textContent = "Kopieren Sie einfach den Instagram-Profillink und fügen Sie ihn auf unserer Website ein.";
    document.querySelector('.instruction-h2').textContent = "Wie kann ich ein Instagram-Profilbild ansehen/herunterladen?";
    document.querySelector('.p1').childNodes[1].textContent = "Öffnen Sie zuerst die Instagram-App auf Ihrem Gerät und wählen Sie das Profil aus, das Sie ansehen/herunterladen möchten.";
    document.querySelector('.p2').childNodes[1].textContent = "Fügen Sie dann den Link/Benutzernamen des Instagram-Profils auf unserer Website ein.";
    document.querySelector('.p3').childNodes[1].textContent = "Klicken Sie anschließend auf die Start-Schaltfläche.";
    document.querySelector('.p4').childNodes[1].textContent = "Nach kurzer Zeit sehen Sie zwei Schaltflächen: Anzeigen und Herunterladen. Wählen Sie, was Sie möchten.";

    break;

        case "हिंदी":
       
    h1.textContent = "इंस्टाग्राम प्रोफ़ाइल फ़ोटो डाउनलोडर";
    document.querySelector('.t-and-c-p').childNodes[0].textContent = "आप हमारी सेवा का उपयोग कर रहे हैं और हमारी शर्तों को स्वीकार कर रहे हैं ";
    document.querySelector('.dot1').textContent = "इंस्टाग्राम डाउनलोडर";

    document.querySelector('.not1').textContent = "Y2DPro.com पर आपका स्वागत है, उच्च गुणवत्ता में इंस्टाग्राम सामग्री डाउनलोड करने के लिए आपका एकमात्र समाधान। चाहे एचडी इमेज, प्रोफ़ाइल फोटो, वीडियो, या पोस्ट हों, Y2DPro के साथ आप बिना किसी पंजीकरण या सीमा के अपने पसंदीदा सामग्री को सुरक्षित कर सकते हैं। एक उपयोगकर्ता-अनुकूल इंटरफ़ेस और सुपर-फास्ट प्रदर्शन के साथ, बस कुछ ही क्लिक में अपनी वांछित मीडिया डाउनलोड करें। कोई विज्ञापन नहीं, कोई रुकावट नहीं, सिर्फ शुद्ध सुविधा और अनलिमिटेड डाउनलोडिंग। सर्वश्रेष्ठ इंस्टाग्राम सामग्री को ऑफ़लाइन देखें और आनंद लें!";
    document.querySelector('#not2').textContent = "फ्री और अनलिमिटेड सर्विस";
    document.querySelector('#not3').textContent = "कोई खाता पंजीकरण आवश्यक नहीं";
    document.querySelector('#not4').textContent = "सभी प्रारूप उपलब्ध हैं";

    document.querySelector('#not5').textContent = "उपयोग में आसान";
    document.querySelector('#not6').textContent = "तेज, मुफ्त और अनलिमिटेड सेवा";
    document.querySelector('#not7').textContent = "खाता पंजीकरण की आवश्यकता नहीं, पूरी तरह से मुफ्त।";
    document.querySelector('#not8').textContent = "सभी प्रकार के मीडिया उपलब्ध: रील, पोस्ट, वीडियो...";
    document.querySelector('#not9').textContent = "बस इंस्टाग्राम प्रोफ़ाइल लिंक को कॉपी करें और हमारी वेबसाइट पर पेस्ट करें।";
    document.querySelector('.instruction-h2').textContent = "इंस्टाग्राम प्रोफ़ाइल फ़ोटो देखने/डाउनलोड करने का तरीका?";
    document.querySelector('.p1').childNodes[1].textContent = "सबसे पहले, अपने डिवाइस पर इंस्टाग्राम ऐप खोलें और वह प्रोफ़ाइल चुनें जिसे आप देखना/डाउनलोड करना चाहते हैं।";
    document.querySelector('.p2').childNodes[1].textContent = "फिर, इंस्टाग्राम प्रोफ़ाइल लिंक/उपयोगकर्ता नाम को हमारी वेबसाइट पर पेस्ट करें।";
    document.querySelector('.p3').childNodes[1].textContent = "फिर, स्टार्ट बटन पर क्लिक करें।";
    document.querySelector('.p4').childNodes[1].textContent = "कुछ समय बाद, आपको दो बटन दिखाई देंगे: देखें और डाउनलोड। अपनी पसंद चुनें।";

    break;

    case "عربي":
    h1.textContent = "أداة تنزيل صور بروفايل انستغرام";
    document.querySelector('.t-and-c-p').childNodes[0].textContent = "باستخدامك لخدمتنا، فإنك توافق على شروطنا ";
    document.querySelector('.dot1').textContent = "أداة تنزيل انستغرام";

    document.querySelector('.not1').textContent = "مرحبًا بك في Y2DPro.com، الحل الوحيد لتنزيل محتوى انستغرام بجودة عالية. سواء كنت بحاجة إلى صور عالية الدقة، صور بروفايل، فيديوهات، أو منشورات، مع Y2DPro يمكنك تنزيل محتواك المفضل بسهولة دون تسجيل حساب أو قيود. مع واجهة مستخدم سهلة وسرعة فائقة، قم بتنزيل الوسائط التي تريدها بنقرات قليلة فقط. لا إعلانات، لا انقطاع، مجرد تجربة مريحة وتنزيل غير محدود. استمتع بمشاهدة أفضل محتوى انستغرام دون الاتصال بالإنترنت!";
    document.querySelector('#not2').textContent = "خدمة مجانية وغير محدودة";
    document.querySelector('#not3').textContent = "لا حاجة لتسجيل حساب";
    document.querySelector('#not4').textContent = "جميع التنسيقات متوفرة";

    document.querySelector('#not5').textContent = "سهل الاستخدام";
    document.querySelector('#not6').textContent = "سريع، مجاني وغير محدود";
    document.querySelector('#not7').textContent = "لا حاجة لتسجيل حساب، الخدمة مجانية بالكامل.";
    document.querySelector('#not8').textContent = "جميع أنواع الوسائط متاحة: ريل، منشورات، فيديوهات...";
    document.querySelector('#not9').textContent = "فقط انسخ رابط بروفايل انستغرام والصقه على موقعنا.";
    document.querySelector('.instruction-h2').textContent = "كيفية عرض/تنزيل صورة بروفايل انستغرام؟";
    document.querySelector('.p1').childNodes[1].textContent = "أولاً، افتح تطبيق انستغرام على جهازك واختر البروفايل الذي ترغب في عرضه/تنزيله.";
    document.querySelector('.p2').childNodes[1].textContent = "ثم الصق رابط/اسم المستخدم الخاص بالبروفايل على موقعنا.";
    document.querySelector('.p3').childNodes[1].textContent = "بعد ذلك، انقر على زر البدء.";
    document.querySelector('.p4').childNodes[1].textContent = "بعد بضع لحظات، ستظهر لك زرين: عرض وتنزيل. اختر ما تفضله.";

    break;

    case "اردو":
    h1.textContent = "انسٹاگرام پروفائل فوٹو ڈاؤنلوڈر";
    document.querySelector('.t-and-c-p').childNodes[0].textContent = "آپ ہماری خدمت کو استعمال کر رہے ہیں اور ہماری شرائط قبول کر رہے ہیں ";
    document.querySelector('.dot1').textContent = "انسٹاگرام ڈاؤنلوڈر";

    document.querySelector('.not1').textContent = "Y2DPro.com پر خوش آمدید، آپ کی تمام انسٹاگرام میڈیا کو آسانی سے ڈاؤنلوڈ کرنے کے لیے ایک ہی جگہ۔ چاہے ایچ ڈی تصاویر ہوں، پروفائل فوٹوز، ویڈیوز یا پوسٹس، Y2DPro کے ذریعے آپ اپنے پسندیدہ مواد کو بغیر کسی رجسٹریشن یا حد کے محفوظ کر سکتے ہیں۔ ایک صارف دوست انٹرفیس اور تیز رفتار کارکردگی کے ساتھ، آپ صرف چند کلکس میں اپنی مطلوبہ میڈیا کو ڈاؤنلوڈ کر سکتے ہیں۔ کوئی اشتہارات نہیں، کوئی رکاوٹ نہیں، صرف خالص سہولت اور لا محدود ڈاؤنلوڈنگ۔ بہترین انسٹاگرام مواد کو آف لائن دیکھیں اور لطف اٹھائیں!";
    document.querySelector('#not2').textContent = "مفت اور لامحدود سروس";
    document.querySelector('#not3').textContent = "اکاؤنٹ کی رجسٹریشن کی ضرورت نہیں";
    document.querySelector('#not4').textContent = "تمام فارمیٹس دستیاب ہیں";

    document.querySelector('#not5').textContent = "استعمال میں آسان";
    document.querySelector('#not6').textContent = "تیز، مفت اور لا محدود سروس";
    document.querySelector('#not7').textContent = "اکاؤنٹ کی رجسٹریشن کی ضرورت نہیں، مکمل طور پر مفت۔";
    document.querySelector('#not8').textContent = "تمام اقسام کے میڈیا دستیاب ہیں: ریل، پوسٹ، ویڈیو ...";
    document.querySelector('#not9').textContent = "بس انسٹاگرام پروفائل کا لنک کاپی کریں اور ہماری ویب سائٹ پر پیسٹ کریں۔";
    document.querySelector('.instruction-h2').textContent = "انسٹاگرام پروفائل فوٹو کو دیکھنے/ڈاؤنلوڈ کرنے کا طریقہ؟";
    document.querySelector('.p1').childNodes[1].textContent = "سب سے پہلے، اپنے ڈیوائس پر انسٹاگرام ایپ کھولیں اور وہ پروفائل منتخب کریں جسے آپ دیکھنا/ڈاؤنلوڈ کرنا چاہتے ہیں۔";
    document.querySelector('.p2').childNodes[1].textContent = "پھر، انسٹاگرام پروفائل کا لنک/یوزر نیم ہماری ویب سائٹ پر پیسٹ کریں۔";
    document.querySelector('.p3').childNodes[1].textContent = "پھر، اسٹارٹ بٹن پر کلک کریں۔";
    document.querySelector('.p4').childNodes[1].textContent = "چند لمحوں بعد، آپ کو دو بٹن نظر آئیں گے: دیکھیں اور ڈاؤنلوڈ۔ اپنی پسند کا انتخاب کریں۔";

    break;
        default:
  
        }
  
        var reloadLink = document.getElementById('reloadLink');
  
  // Add an event listener for the click event
  reloadLink.addEventListener('click', function(event) {
    // Prevent the default behavior of the anchor tag
    event.preventDefault();
    
    // Reload the website
    location.reload();
  });
    
}




reloadLink.addEventListener('click', function(event) {
  // Prevent the default behavior of the anchor tag
  event.preventDefault();
  
  // Reload the website
  location.reload();
});

  document.getElementById('click').addEventListener('click', function() {
  var contentDiv = document.querySelector('.content');
  contentDiv.style.marginTop = this.checked ? '340px' : '0';
});




document.addEventListener("DOMContentLoaded", function() {
    const links = document.querySelectorAll(".table-container ul li a");

    // Add active class to the "Video" link by default
    links[0].classList.add("active");

    links.forEach(link => {
      link.addEventListener("click", function(event) {
        event.preventDefault();

        // Remove active class from all links
        links.forEach(link => {
          link.classList.remove("active");
        });

        // Add active class to the clicked link
        this.classList.add("active");
      });
    });
  });




// Frontend Code
// JavaScript
// Client-side JavaScript
// Frontend JavaScript
let hdUrl = '';  

document.getElementById('start-btn').addEventListener('click', async () => {
    const loader = document.getElementById('loader');
    const actionButtons = document.getElementById('action-buttons');
    const startBtn = document.getElementById('start-btn');
    const usernameInput = document.getElementById('txt-url').value.trim();

    if (!usernameInput) {
        alert('Please enter a valid Instagram username.');
        return;
    }

    loader.style.display = 'block';
    actionButtons.style.display = 'none';

    try {
        // Send username to the backend
        const response = await fetch(`/fetch-hd-url?username=${encodeURIComponent(usernameInput)}`);
        const data = await response.json();

        if (data.success && data.url) {
            hdUrl = data.url;
            console.log(`Fetched URL: ${hdUrl}`);
            loader.style.display = 'none';
            actionButtons.style.display = 'block';
        } else {
            alert('Failed to fetch the profile picture URL. Ensure the username is correct.');
        }
    } catch (error) {
        console.error('Error:', error);
        alert('An error occurred while fetching the profile picture.');
    } finally {
        loader.style.display = 'none';
    }
});

// Size button
document.getElementById('sizebtn').addEventListener('click', () => {
    if (hdUrl) {
        window.open(hdUrl, '_blank');
    }
});

// Download button
document.getElementById('downloadBtn').addEventListener('click', async () => {
    if (hdUrl) {
        try {
            const downloadBtn = document.getElementById('downloadBtn');
            downloadBtn.innerHTML = 'Downloading...';
            downloadBtn.disabled = true;

            const response = await fetch(`/download-profile-pic?url=${encodeURIComponent(hdUrl)}`);
            if (!response.ok) throw new Error('Download failed');
            
            const blob = await response.blob();
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = url;
            a.download = `instagram_profile_${Date.now()}.jpg`;
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);
            document.body.removeChild(a);
        } catch (error) {
            console.error('Download error:', error);
            alert('Error downloading the image. Please try again.');
        } finally {
            downloadBtn.innerHTML = 'Download <i class="fas fa-download"></i>';
            downloadBtn.disabled = false;
        }
    }
});



</script>
  
 </body>
</html>
