<!DOCTYPE html>
<html lang="German">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="images/favicon.png"> <!-- Adjust the path here -->
    <link rel="icon" href="/views/assets/images/favicon2.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

    <title>Youtube converter</title>
    <link rel="stylesheet" href="css/style.css">

    <style>
body {
      font-family: Arial, sans-serif;
    }

    .dropdown {
      position: absolute;
      display: inline-block;
      margin-left: 7px;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0 8px 16px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown-item {
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      color: #333;
    }

    .dropdown-item:hover {
      background-color: #ddd;
    }

    .content1{
      height: 100%;
    width: 75%;
    background-color: white;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
    border: 2px solid lightgrey;
    padding-bottom: 40px;
    margin-bottom: 32px;
    padding: 1.1% 2% 39px 2%;
    }






    
@media (max-width: 920px) {



.content1{
  width: 100%;
  clear: right;

  margin-right: 0;
}

}

@media (min-width: 921px) {
  .footer-address {
    margin: 3% 19%;
    display: inline-block;
    position: relative;
}
}
@media (min-width: 1001px)  and (max-width: 1067px) {
    .content1{
      width: 80%;
  
    }
}

@media (min-width: 921px) and (max-width: 1000px) {


.content1{
    margin-right: 5%;
    width: 90%;
}
}


    </style>
</head>
<body>
    <nav>
      <div class="logo">
        <a href="/index">
          <img class="logo-img" src="/images/favicon2.png" height="50px" width="50px" alt=""></a>
          <p class="logo-name"><a href="/index" style="text-decoration: none; color: #800020;">Y2DPro</a></p>
       
       </div>
       <input type="checkbox" id="click">
       <label for="click" class="menu-btn">
       <i class="fas fa-bars"></i>
       </label>
       <ul>
        <li><a href="/index">Reel Downloader</a></li>
          <li><a class="" href="/">Post Downloader</a></li>

          <li><a href="/mp3">Profile Pic Viewer/Downloader</a></li>
          <li style="margin: 0px -11px 0 31px; margin-right: 76px;"><a href="#" style="padding: 0;">    <div class="dropdown">
            <span id="selectedItem">English </span> <strong>⮟</strong>
            <div class="dropdown-content" style="cursor: pointer;">
              <a class="dropdown-item" onclick="selectItem('English')" data-reload lang="Englsih">Englsih</a>

            </div>
          </div></a></li>


 
         

       </ul>
    </nav>
    <div class="content1">
        <h3 style="background: none;margin-top: 15px;">Privacy Policy for Y2DPro.com</h3> <br>

        <p style="position: relative; background: none; margin-bottom: 10px;">Last Updated: January 1, 2025</p>
        <p style="position: relative; background: none; margin-bottom: 0px;">Thank you for using Y2DPro.com! We are committed to protecting your privacy and providing a secure and user-friendly experience. This Privacy Policy outlines how we collect, use, and safeguard your information when you use our website.</p><br>

        <h2 style="position: relative; background: none; margin-bottom: 10px; font-weight: normal;font-family: 'Roboto', sans-serif;">1. Information We Collect:</h2>
        <h3 style="position: relative; background: none; margin-bottom: 10px;    margin-left: 11px;font-weight: 400; font-size: 19px;">1.1 User-Provided Information:</h3>

        <li style="position: relative; background: none; margin-bottom: 10px;     margin-left: 22px;">Y2DPro.com does not require any registration or signup.</li>
        <li style="position: relative; background: none; margin-bottom: 10px;    margin-left: 22px;">We do not collect any personal information such as names, email addresses, or any other identifiable data.        </li>
        <h3 style="position: relative; background: none; margin-bottom: 10px;font-weight: 400; font-size: 19px;">1.2 Automatically Collected Information:</h3>

        <p style="position: relative; background: none; margin-bottom: 10px;">Our website may collect certain information automatically, such as your IP address, browser type, and device information. This data is used for analytics and improving our services.</p>


        <h2 style="position: relative; background: none; margin-bottom: 10px; font-weight: normal;font-family: 'Roboto', sans-serif;">2. Use of Information:</h2>
        <h3 style="position: relative; background: none; margin-bottom: 10px;font-weight: 400; font-size: 19px;">2.1 Service Improvement:</h3>
        <li style="position: relative; background: none; margin-bottom: 10px; margin-left: 10px;">Information collected may be used to enhance the functionality and performance of Y2DPro.com.</li>
        <li style="position: relative; background: none; margin-bottom: 10px; margin-left: 10px;">We may analyze user trends and behavior to optimize the user experience.</li>
        <p style="position: relative; background: none; margin-bottom: 10px;font-weight: 400; font-size: 19px;">2.2 Security:</p>

        <p style="position: relative; background: none;  margin-bottom: 10px;">We take measures to ensure the security of your data. However, given the nature of the internet, we cannot guarantee absolute security.</p>
        <h3 style="position: relative; background: none; margin-bottom: 10px;font-weight: 400; font-size: 19px;">2.3 Legal Compliance:</h3>

        <p style="position: relative; background: none;  margin-bottom: 10px;">Y2DPro.com may disclose information when required by law or to protect our rights.</p>

        <h2 style="position: relative; background: none;  margin-bottom: 10px; font-weight: normal;font-family: 'Roboto', sans-serif;">3. Cookies and Tracking Technologies:</h2>

        <p style="position: relative; background: none;  margin-bottom: 10px;">We use cookies and similar technologies to enhance user experience and collect information about how you interact with our website. You can manage cookie preferences through your browser settings.</p>
        <h2 style="position: relative; background: none;  margin-bottom: 10px; font-weight: normal;font-family: 'Roboto', sans-serif;">4. Third-Party Links:</h2> 
        <p style="position: relative; background: none;  margin-bottom: 10px;">Y2DPro.com may contain links to third-party websites. We are not responsible for the privacy practices of these websites. Please review their privacy policies.</p> 
        <h2 style="position: relative; background: none;  margin-bottom: 10px; font-weight: normal;font-family: 'Roboto', sans-serif;">5. Children's Privacy:</h2>
        <p style="position: relative; background: none;  margin-bottom: 10px;">Y2DPro.com is not intended for children under the age of 13. We do not knowingly collect or store information from individuals under 13 years of age.</p> 
        <h2 style="position: relative; background: none;  margin-bottom: 10px; font-weight: normal;font-family: 'Roboto', sans-serif;">6. Changes to this Privacy Policy:</h2>
        <p style="position: relative; background: none; margin-bottom: 10px;">We may update this Privacy Policy from time to time. Any changes will be reflected on this page, and the date of the last update will be modified accordingly.</p> 
        <h2 style="position: relative; background: none;  margin-bottom: 10px; font-weight: normal;font-family: 'Roboto', sans-serif;">7. Contact Us:</h2>

        <p style="position: relative; background: none; margin-bottom: 21px;">If you have any questions or concerns about this Privacy Policy, please contact us at <a href="mailto:contact@y2dpro.com" style="text-decoration: none; background: transparent;">contact@y2dpro.com</a>.</p>
        <p style="position: relative; background: none;margin-bottom: 21px;">By using Y2DPro.com, you agree to the terms outlined in this Privacy Policy. Please regularly review this policy for any updates or changes.</p>
<p style="position: relative; background: none;margin-bottom: 16px;">Thank you for trusting Y2DPro.com for your video conversion needs!</p>
        <!-- <h1 class="cont-heading">YouTube Video Downloader - YouTube to MP3, MP4,...
          </h1>


        
            <div></div>
            <hr class="cont-hr">
            <div class="inst-cont">
            


            <p class="p1"><strong>1.</strong> First open youtube app in your device and choose the video you want to download</p>
            <p class="p2"><strong>2.</strong> Then after opening the video in layout you will find a share icon click it.</p>
            <p class="p3"><strong>3.</strong> Then copy the link from there</p>
            <p class="p4"><strong>4.</strong> Then paste the link in our website and click the start button and choose any downloading format you want.</p></p>
        </div> -->
</div>





<hr class="foot-lakeer">

<footer class="footer">
  <p class="copyright">@ 2025 Y2DPro.com</p>
  <div class="footer-address">
    <p><a href="/">Y2DPro.com</a></p>
    <p><a href="/">Instagram Downloader</a></p>
    <p><a href="/index">Instagram Post Downloader</a></p>
    <p><a href="/mp3">Insta Profile Pic Downloader</a></p>
  </div>
  <div class="footer-address1">
    <p><a href="/coming-soon">Youtube Downloader</a></p>
    <p><a href="/">Instgram Downloader</a></p>
    <p><a href="/coming-soon">Tiktok Downloader</a></p>
    <p><a href="/coming-soon">Facebook Downloader</a></p>
  </div>
  <div class="footer-address2">
    <p><a href="/about">About</a></p>
    <p><a href="/faq">FAQ</a></p>
    <p><a href="/contact">Contact</a></p>
    <p><a href="/terms">Terms of Service</a></p>
    <p><a href="/privacy-policy">Privacy Policy</a></p>
  </div>
  <p class="copyright">©Copyright Y2DPro.com </p>
</footer>
<script>
  function selectItem(item) {
    document.getElementById('selectedItem').textContent = item;
  }




</script>
 </body>
</html>
