<!DOCTYPE html>
<html lang="German">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="images/favicon.png"> <!-- Adjust the path here -->
    <link rel="icon" href="/views/assets/images/favicon2.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

    <title>Youtube converter</title>
    <link rel="stylesheet" href="css/style.css">

    <style>
body {
      font-family: Arial, sans-serif;
    }

    .dropdown {
      position: absolute;
      display: inline-block;
      margin-left: 7px;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0 8px 16px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown-item {
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      color: #333;
    }

    .dropdown-item:hover {
      background-color: #ddd;
    }

    .content1{
        height: 100%;
    width: 75%;
    background-color: white;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
    border: 2px solid lightgrey;
    padding-bottom: 40px;
    margin-bottom: 32px;
    padding: 1.1% 2% 39px 2%;
    }






    
@media (max-width: 920px) {



.content1{
  width: 100%;
  clear: right;

  margin-right: 0;
}

}


@media (min-width: 1001px)  and (max-width: 1067px) {
    .content1{
      width: 80%;
  
    }
}

@media (min-width: 921px) and (max-width: 1000px) {


.content1{
    margin-right: 5%;
    width: 90%;
}
}


    </style>
</head>
<body>
    <nav>
       <div class="logo">
          <img class="logo-img" src="/views/assets/images/favicon2.png" height="50px" width="50px" alt="">
          <p class="logo-name">Y2DPro</p>
       </div>
       <input type="checkbox" id="click">
       <label for="click" class="menu-btn">
       <i class="fas fa-bars"></i>
       </label>
       <ul>
        <li><a href="/index">Youtube Converter</a></li>
          <li><a class="" href="/">Youtube Downloader</a></li>

          <li><a href="/mp3">Youtube to MP3</a></li>
          <li style="margin: 0px -11px 0 31px; margin-right: 76px;"><a href="#" style="padding: 0;">    <div class="dropdown">
            <span id="selectedItem">English </span> <strong>⮟</strong>
            <div class="dropdown-content" style="cursor: pointer;">
              <a class="dropdown-item" onclick="selectItem('English')" data-reload lang="Englsih">Englsih</a>

            </div>
          </div></a></li>


 
         

       </ul>
    </nav>
    <div class="content1">
        <h3 style="background: none;margin-top: 15px;">Terms and Conditions for Y2DPro.com</h3> <br>

        <p style="position: relative; background: none; margin-bottom: 10px;">Last Updated: March 1, 2024</p>
        <p style="position: relative; background: none; margin-bottom: 0px;">Welcome to Y2DPro.com! Please read these Terms and Conditions carefully before using our website.</p><br>

        <h2 style="position: relative; background: none; margin-bottom: 10px; font-weight: normal;font-family: 'Roboto', sans-serif;">1. Acceptance of Terms:</h2>
        <p style="position: relative; background: none; margin-bottom: 10px;">By accessing or using Y2DPro.com, you agree to be bound by these Terms and Conditions. If you do not agree with any part of these terms, please do not use our services</p>



        <h2 style="position: relative; background: none; margin-bottom: 10px; font-weight: normal;font-family: 'Roboto', sans-serif;">2. Use of Service:</h2>
        <h3 style="position: relative; background: none;  margin-bottom: 10px;    font-weight: 400;font-size: 21px;">2.1 Eligibility:</h3>
        <p style="position: relative; background: none; margin-bottom: 10px;">Y2DPro.com is available for use by individuals aged 13 and older. By using our services, you affirm that you are at least 13 years old.</p>

        <h3 style="position: relative; background: none;  margin-bottom: 10px; font-weight: 400;font-size: 21px;    font-weight: 400;font-size: 21px;">2.2 License:</h3>

        <p style="position: relative; background: none;  margin-bottom: 10px;   ">Y2DPro.com grants you a limited, non-exclusive, non-transferable, and revocable license to use our services for personal and non-commercial purposes.</p>

        <h3 style="position: relative; background: none;  margin-bottom: 10px;font-weight: 400;font-size: 21px;">2.3 Prohibited Activities:</h3>
        <p style="position: relative; background: none;  margin-bottom: 10px;">You agree not to engage in any illegal, unauthorized, or prohibited activities while using Y2DPro.com, including but not limited to:
       <ul style="position: relative; background: none; margin-left: 30px; margin-bottom: 10px;">
        <li style="position: relative; background: none;  margin-bottom: 10px;">Violating any laws or regulations.</li>
           <li style="position: relative; background: none;  margin-bottom: 10px;"> Uploading or distributing malicious software.</li>
        <li style="position: relative; background: none;  margin-bottom: 10px;"> Attempting to gain unauthorized access to our systems.</li>
       </ul>
        </p>



        <h2 style="position: relative; background: none;  margin-bottom: 10px; font-weight: normal;font-family: 'Roboto', sans-serif;">3. Intellectual Property:</h2>
<p style="position: relative; background: none;  margin-bottom: 10px;">Y2DPro.com and its content, including logos, trademarks, and software, are the property of Y2DPro.com and are protected by intellectual property laws. You may not use, modify, or distribute our content without our explicit consent.</p>

        <h2 style="position: relative; background: none;  margin-bottom: 10px; font-weight: normal;font-family: 'Roboto', sans-serif;">4. User-Generated Content:</h2> 
        <p style="position: relative; background: none;  margin-bottom: 10px;">By using Y2DPro.com, you may submit content, such as URLs for video conversion. You retain ownership of your content, but you grant Y2DPro.com a worldwide, royalty-free, and non-exclusive license to use, reproduce, and distribute the content for the purpose of providing the services.</p>
        <h2 style="position: relative; background: none;  margin-bottom: 10px; font-weight: normal;font-family: 'Roboto', sans-serif;">5. Limitation of Liability:</h2>
        <p style="position: relative; background: none;  margin-bottom: 10px;">Y2DPro.com is not responsible for any damages, loss of data, or harm resulting from the use of our services. Use the website at your own risk.</p> 
        <h2 style="position: relative; background: none;  margin-bottom: 10px; font-weight: normal;font-family: 'Roboto', sans-serif;">6. Changes to Terms and Conditions:</h2>
        <p style="position: relative; background: none; margin-bottom: 10px;">Y2DPro.com reserves the right to update or modify these Terms and Conditions at any time. Changes will be effective immediately upon posting. Your continued use of our services constitutes acceptance of the updated terms.</p> 
        <h2 style="position: relative; background: none;  margin-bottom: 10px; font-weight: normal;font-family: 'Roboto', sans-serif;">7. Termination:</h2>
        <p style="position: relative; background: none; margin-bottom: 10px;">Y2DPro.com may terminate or suspend your access to the services at any time, with or without cause. Upon termination, all licenses and rights granted to you will cease immediately.</p> 
        <h2 style="position: relative; background: none;  margin-bottom: 10px; font-weight: normal;font-family: 'Roboto', sans-serif;">8. Governing Law:</h2>
        <p style="position: relative; background: none; margin-bottom: 10px;">These Terms and Conditions are governed by and construed in accordance with the laws of [Your Jurisdiction]. Any disputes arising under or in connection with these terms shall be subject to the exclusive jurisdiction of the courts of [Your Jurisdiction].</p>
        <h2 style="position: relative; background: none;  margin-bottom: 10px; font-weight: normal;font-family: 'Roboto', sans-serif;">9. Contact Us:</h2>
        <p style="position: relative; background: none; margin-bottom: 21px;">If you have any questions or concerns about this Privacy Policy, please contact us at <a href="mailto:contact@y2dpro.com" style="text-decoration: none; background: transparent;">contact@y2dpro.com</a>.</p>
        <p style="position: relative; background: none;margin-bottom: 21px;">By using Y2DPro.com, you agree to the terms outlined in this Privacy Policy. Please regularly review this policy for any updates or changes.</p>
<p style="position: relative; background: none;margin-bottom: 16px;">Thank you for using Y2DPro.com responsibly and respecting these Terms and Conditions.</p>
        <!-- <h1 class="cont-heading">YouTube Video Downloader - YouTube to MP3, MP4,...
          </h1>


        
            <div></div>
            <hr class="cont-hr">
            <div class="inst-cont">
            


            <p class="p1"><strong>1.</strong> First open youtube app in your device and choose the video you want to download</p>
            <p class="p2"><strong>2.</strong> Then after opening the video in layout you will find a share icon click it.</p>
            <p class="p3"><strong>3.</strong> Then copy the link from there</p>
            <p class="p4"><strong>4.</strong> Then paste the link in our website and click the start button and choose any downloading format you want.</p></p>
        </div> -->
</div>





<hr class="foot-lakeer">

<footer class="footer">
    <p class="copyright">@ 2024 Y2DPro.com</p>
    <div class="footer-address">
      <p><a href="/">Y2DPro.com</a></p>
      <p><a href="/">Youtube Downloader</a></p>
      <p><a href="/index">Youtube Converter</a></p>
      <p><a href="/mp3">Youtube to MP3</a></p>
    </div>
    <div class="footer-address1">
      <p><a href="/">Youtube Downloader</a></p>
      <p><a href="/">Instgram Downloader</a></p>
      <p><a href="/">Tiktok Downloader</a></p>
      <p><a href="/">Facebook Downloader</a></p>
    </div>
    <div class="footer-address2">
      <p><a href="/about">About</a></p>
      <p><a href="/faq">FAQ</a></p>
      <p><a href="/contact">Contact</a></p>
      <p><a href="/terms">Terms of Service</a></p>
      <p><a href="/privacy-policy">Privacy Policy</a></p>
    </div>
    <p class="copyright">©Copyright Y2DPro.com </p>
  </footer>

<script>
  function selectItem(item) {
    document.getElementById('selectedItem').textContent = item;
  }




</script>
 </body>
</html>
